In [1]:
"""
Update 21/11/24 LL : added option to save as csv
Update 30/10/24 by LL (v4): added check for empty paleoData_values row
Update 29/10/2024 by LL (v4): modified datasetId to create unique identifier for each record.

Load the ch2k database from https://lipdverse.org/CoralHydro2k/current_version/


Here we use the template (from Julien and Feng's lipd2df notebook) 
to extract a dataframe with the following columns:

columns=['archiveType', 
        'climateInterpretation_variable',
        'climateInterpretation_variableDetail',
        'datasetId',
        'dataSetName',                                                                                
        'geo_meanElev', 
        'geo_meanLat', 
        'geo_meanLon',
        'year', 'yearUnits',                                                                                         
        'paleoData_variableName',
        'paleoData_units',                                                                                           
        'paleoData_values',
        'paleoData_notes',
        'paleoData_sensorSpecies',
        'originalDataURL',
        'originalDatabase'
]

We save a standardised compact dataframe for concatenation to DoD2k


Initially created by Kevin Fan
"""

"\nUpdate 21/11/24 LL : added option to save as csv\nUpdate 30/10/24 by LL (v4): added check for empty paleoData_values row\nUpdate 29/10/2024 by LL (v4): modified datasetId to create unique identifier for each record.\n\nLoad the ch2k database from https://lipdverse.org/CoralHydro2k/current_version/\n\n\nHere we use the template (from Julien and Feng's lipd2df notebook) \nto extract a dataframe with the following columns:\n\ncolumns=['archiveType', \n        'climateInterpretation_variable',\n        'climateInterpretation_variableDetail',\n        'datasetId',\n        'dataSetName',                                                                                \n        'geo_meanElev', \n        'geo_meanLat', \n        'geo_meanLon',\n        'year', 'yearUnits',                                                                                         \n        'paleoData_variableName',\n        'paleoData_units',                                                                                           \n        'paleoData_values',\n        'paleoData_notes',\n        'paleoData_sensorSpecies',\n        'originalDataURL',\n        'originalDatabase'\n]\n\nWe save a standardised compact dataframe for concatenation to DoD2k\n\n\nInitially created by Kevin Fan\n"

# Set up working environment

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
# Import packages
import pandas as pd
import lipd
import numpy as np
import os

In [4]:
# set up working directory. 
# The default working directory should be the parent folder (compile_proxy_database) so we can access the 'helper' files 
# Make sure this is changing to the correct path!

#wdir = '/home/jupyter-lluecke/compile_proxy_database_v2.0' # working directory, this should work, but doesn't seem to...
if not os.getcwd().endswith('compile_proxy_database_v2.1'):
    os.chdir(os.getcwd()+'/..')
wdir = os.getcwd()
print('working directory: '+wdir)
import functions as f # contains functions for plotting

working directory: /home/jupyter-mnevans/dod2k

# Load source data and apply corrections

In [5]:
# download and unzip the dataset in LiPD
#!wget https://lipdverse.org/CoralHydro2k/current_version/CoralHydro2k1_0_0.zip
#!unzip CoralHydro2k1_0_0.zip

In [6]:
# load LiPD files from the given directory

D = lipd.readLipd(os.getcwd()+'/ch2k/lipdfiles/');
TS = lipd.extractTs(D);
len(TS)
os.chdir(os.getcwd()+'/../..')

Disclaimer: LiPD files may be updated and modified to adhere to standards

Found: 179 LiPD file(s)
reading: CH03BUN01.lpd
reading: ZI15MER01.lpd
reading: CO03PAL03.lpd
reading: CO03PAL02.lpd
reading: CA13PEL01.lpd
reading: LI06RAR01.lpd
reading: CO03PAL07.lpd
reading: FL18DTO03.lpd
reading: SM06LKF02.lpd
reading: UR00MAI01.lpd
reading: TU95MAD01.lpd
reading: ZI04IFR01.lpd
reading: RE18CAY01.lpd
reading: KU99HOU01.lpd
reading: OS13NLP01.lpd
reading: EV98KIR01.lpd
reading: LI00RAR01.lpd
reading: NU11PAL01.lpd
reading: MA08DTO01.lpd
reading: AB20MEN03.lpd
reading: CA14TIM01.lpd
reading: KA17RYU01.lpd
reading: MC11KIR01.lpd
reading: AB20MEN09.lpd
reading: HE08LRA01.lpd
reading: DA06MAF01.lpd
reading: SM06LKF01.lpd
reading: NA09MAL01.lpd
reading: SW98STP01.lpd
reading: MU18GSI01.lpd
reading: ZI14HOU01.lpd
reading: FL17DTO02.lpd
reading: DA06MAF02.lpd
reading: SA19PAL02.lpd
reading: CO03PAL01.lpd
reading: ZI16ROD01.lpd
reading: OS13NGP01.lpd
reading: CH98PIR01.lpd
reading: RE19GBR02.lpd
reading: MU18RED04.lpd
reading: GR13MAD01.lpd
reading: XI17HAI01.lpd
reading: DE14DTO03.lpd
reading: KL97DAH01.lpd
reading: QU06RAB01.lpd
reading: DE14DTO01.lpd
reading: KU00NIN01.lpd
reading: TU01SIA01.lpd
reading: RE19GBR01.lpd
reading: GR13MAD02.lpd
reading: AB20MEN07.lpd
reading: BR19RED01.lpd
reading: NU09FAN01.lpd
reading: MU18RED01.lpd
reading: OS14RIP01.lpd
reading: DE14DTO02.lpd
reading: LI04FIJ01.lpd
reading: EV18ROC01.lpd
reading: CA13SAP01.lpd
reading: JI18GAL02.lpd
reading: TU01LAI01.lpd
reading: HE13MIS01.lpd
reading: GU99NAU02.lpd
reading: ZI15IMP02.lpd
reading: PF04PBA01.lpd
reading: SA20FAN02.lpd
reading: WE09ARR01.lpd
reading: CO03PAL05.lpd
reading: XU15BVI01.lpd
reading: HE18COC02.lpd
reading: MU18NPI01.lpd
reading: MO06PED01.lpd
reading: KR20SAR01.lpd
reading: SA18GBR01.lpd
reading: OS14UCP01.lpd
reading: AB20MEN08.lpd
reading: HE13MIS02.lpd
reading: HE10GUA01.lpd
reading: BO14HTI01.lpd
reading: DE12ANC01.lpd
reading: WA17BAN01.lpd
reading: DR99ABR01.lpd
reading: RO19MAR01.lpd
reading: LI06RAR02.lpd
reading: MU18RED03.lpd
reading: SW99LIG01.lpd
reading: SA16CLA01.lpd
reading: ZI15TAN01.lpd
reading: RE19GBR03.lpd
reading: DR00KSB01.lpd
reading: BO14HTI02.lpd
reading: MU17DOA01.lpd
reading: TA18TAS01.lpd
reading: XU15BVI03.lpd
reading: DU94URV02.lpd
reading: AS05GUA01.lpd
reading: FE09OGA01.lpd
reading: GU99NAU01.lpd
reading: SA20FAN01.lpd
reading: CA13DIA01.lpd
reading: AL16PUR02.lpd
reading: CO03PAL10.lpd
reading: RE19GBR05.lpd
reading: ZI15IMP01.lpd
reading: KR20SAR02.lpd
reading: RO19YUC01.lpd
reading: ST13MAL01.lpd
reading: DR00NBB01.lpd
reading: PF19LAR01.lpd
reading: AL16YUC01.lpd
reading: CO03PAL09.lpd
reading: ZI16ROD02.lpd
reading: AB20MEN05.lpd
reading: SH92PUN01.lpd
reading: KI04MCV01.lpd
reading: AL16PUR01.lpd
reading: CH18YOA02.lpd
reading: DE14DTO04.lpd
reading: AB20MEN04.lpd
reading: DE16RED01.lpd
reading: BA04FIJ02.lpd
reading: CO03PAL06.lpd
reading: JI18GAL01.lpd
reading: CH18YOA01.lpd
reading: RE19GBR04.lpd
reading: DO18DAV01.lpd
reading: GO12SBV01.lpd
reading: CA07FLI01.lpd
reading: SW99LIG02.lpd
reading: MC04PNG01.lpd
reading: CO93TAR01.lpd
reading: RO19PAR01.lpd
reading: CO00MAL01.lpd
reading: MO20WOA01.lpd
reading: AB20MEN01.lpd
reading: QU96ESV01.lpd
reading: DE13HAI01.lpd
reading: LI94SEC01.lpd
reading: ZI15CLE01.lpd
reading: MU18RED02.lpd
reading: ZI08MAY01.lpd
reading: TU01DEP01.lpd
reading: CO03PAL04.lpd
reading: RA19PAI01.lpd
reading: AB15BHB01.lpd
reading: FL18DTO01.lpd
reading: MO20KOI01.lpd
reading: DU94URV01.lpd
reading: CO03PAL08.lpd
reading: WU14CLI01.lpd
reading: ZI14TUR01.lpd
reading: AB20MEN02.lpd
reading: LI99CLI01.lpd
reading: ZI15BUN01.lpd
reading: FE18RUS01.lpd
reading: WU13TON01.lpd
reading: KI14PAR01.lpd
reading: ZI14IFR02.lpd
reading: XU15BVI02.lpd
reading: KI08PAR01.lpd
reading: AB20MEN06.lpd
reading: AB08MEN01.lpd
reading: NU09KIR01.lpd
reading: RI10PBL01.lpd
reading: CA14BUT01.lpd
reading: FL18DTO02.lpd
reading: FL18DTO04.lpd
reading: BA04FIJ01.lpd
reading: HE02GBR01.lpd
reading: GO08BER01.lpd
reading: CA13TUR01.lpd
reading: LI06FIJ01.lpd
reading: HE18COC01.lpd
reading: FL17DTO01.lpd
reading: BO99MOO01.lpd
reading: CH03LOM01.lpd
reading: SA19PAL01.lpd
reading: CH97BVB01.lpd
reading: RA20TAI01.lpd
Finished read: 179 records
extracting paleoData...
extracting: CH03BUN01
extracting: ZI15MER01
extracting: CO03PAL03
extracting: CO03PAL02
extracting: CA13PEL01
extracting: LI06RAR01
extracting: CO03PAL07
extracting: FL18DTO03
extracting: SM06LKF02
extracting: UR00MAI01
extracting: TU95MAD01
extracting: ZI04IFR01
extracting: RE18CAY01
extracting: KU99HOU01
extracting: OS13NLP01
extracting: EV98KIR01
extracting: LI00RAR01
extracting: NU11PAL01
extracting: MA08DTO01
extracting: AB20MEN03
extracting: CA14TIM01
extracting: KA17RYU01
extracting: MC11KIR01
extracting: AB20MEN09
extracting: HE08LRA01
extracting: DA06MAF01
extracting: SM06LKF01
extracting: NA09MAL01
extracting: SW98STP01
extracting: MU18GSI01
extracting: ZI14HOU01
extracting: FL17DTO02
extracting: DA06MAF02
extracting: SA19PAL02
extracting: CO03PAL01
extracting: ZI16ROD01
extracting: OS13NGP01
extracting: CH98PIR01
extracting: RE19GBR02
extracting: MU18RED04
extracting: GR13MAD01
extracting: XI17HAI01
extracting: DE14DTO03
extracting: KL97DAH01
extracting: QU06RAB01
extracting: DE14DTO01
extracting: KU00NIN01
extracting: TU01SIA01
extracting: RE19GBR01
extracting: GR13MAD02
extracting: AB20MEN07
extracting: BR19RED01
extracting: NU09FAN01
extracting: MU18RED01
extracting: OS14RIP01
extracting: DE14DTO02
extracting: LI04FIJ01
extracting: EV18ROC01
extracting: CA13SAP01
extracting: JI18GAL02
extracting: TU01LAI01
extracting: HE13MIS01
extracting: GU99NAU02
extracting: ZI15IMP02
extracting: PF04PBA01
extracting: SA20FAN02
extracting: WE09ARR01
extracting: CO03PAL05
extracting: XU15BVI01
extracting: HE18COC02
extracting: MU18NPI01
extracting: MO06PED01
extracting: KR20SAR01
extracting: SA18GBR01
extracting: OS14UCP01
extracting: AB20MEN08
extracting: HE13MIS02
extracting: HE10GUA01
extracting: BO14HTI01
extracting: DE12ANC01
extracting: WA17BAN01
extracting: DR99ABR01
extracting: RO19MAR01
extracting: LI06RAR02
extracting: MU18RED03
extracting: SW99LIG01
extracting: SA16CLA01
extracting: ZI15TAN01
extracting: RE19GBR03
extracting: DR00KSB01
extracting: BO14HTI02
extracting: MU17DOA01
extracting: TA18TAS01
extracting: XU15BVI03
extracting: DU94URV02
extracting: AS05GUA01
extracting: FE09OGA01
extracting: GU99NAU01
extracting: SA20FAN01
extracting: CA13DIA01
extracting: AL16PUR02
extracting: CO03PAL10
extracting: RE19GBR05
extracting: ZI15IMP01
extracting: KR20SAR02
extracting: RO19YUC01
extracting: ST13MAL01
extracting: DR00NBB01
extracting: PF19LAR01
extracting: AL16YUC01
extracting: CO03PAL09
extracting: ZI16ROD02
extracting: AB20MEN05
extracting: SH92PUN01
extracting: KI04MCV01
extracting: AL16PUR01
extracting: CH18YOA02
extracting: DE14DTO04
extracting: AB20MEN04
extracting: DE16RED01
extracting: BA04FIJ02
extracting: CO03PAL06
extracting: JI18GAL01
extracting: CH18YOA01
extracting: RE19GBR04
extracting: DO18DAV01
extracting: GO12SBV01
extracting: CA07FLI01
extracting: SW99LIG02
extracting: MC04PNG01
extracting: CO93TAR01
extracting: RO19PAR01
extracting: CO00MAL01
extracting: MO20WOA01
extracting: AB20MEN01
extracting: QU96ESV01
extracting: DE13HAI01
extracting: LI94SEC01
extracting: ZI15CLE01
extracting: MU18RED02
extracting: ZI08MAY01
extracting: TU01DEP01
extracting: CO03PAL04
extracting: RA19PAI01
extracting: AB15BHB01
extracting: FL18DTO01
extracting: MO20KOI01
extracting: DU94URV01
extracting: CO03PAL08
extracting: WU14CLI01
extracting: ZI14TUR01
extracting: AB20MEN02
extracting: LI99CLI01
extracting: ZI15BUN01
extracting: FE18RUS01
extracting: WU13TON01
extracting: KI14PAR01
extracting: ZI14IFR02
extracting: XU15BVI02
extracting: KI08PAR01
extracting: AB20MEN06
extracting: AB08MEN01
extracting: NU09KIR01
extracting: RI10PBL01
extracting: CA14BUT01
extracting: FL18DTO02
extracting: FL18DTO04
extracting: BA04FIJ01
extracting: HE02GBR01
extracting: GO08BER01
extracting: CA13TUR01
extracting: LI06FIJ01
extracting: HE18COC01
extracting: FL17DTO01
extracting: BO99MOO01
extracting: CH03LOM01
extracting: SA19PAL01
extracting: CH97BVB01
extracting: RA20TAI01
Created time series: 608 entries

# Create compact dataframe

## Dataframe construction

In [7]:
# create a null DataFrame with desired columns

col_str=['archiveType', 'dataSetName', 'datasetId', 'geo_meanElev', 'geo_meanLat', 'geo_meanLon', 'geo_siteName', 
         'originalDataUrl', 'paleoData_notes', 'paleoData_variableName',
         'paleoData_archiveSpecies','paleoData_units', 'paleoData_values', 'year']

df_tmp = pd.DataFrame(index=range(len(TS)), columns=col_str)

In [8]:
# loop over the timeseries and pick those for global temperature analysis
i = 0                                                                                                                
for ts in TS: #for every time series
    # need to filter these variables in the list
    if ts['paleoData_variableName'] not in ['year', 'd18OUncertainty', 'SrCaUncertainty']: #filter out all ts with thee three as the var name
        for name in col_str:     #for each of the 12 main keys, shove the wanted data into the df                                                                                    
            try:
                df_tmp.loc[i, name] = ts[name]                                                                       
            except:
                df_tmp.loc[i, name] = np.nan                                                                         
    
    i += 1 
        
# drop the rows with all NaNs (those not for global temperature analysis)
df = df_tmp.dropna(how='all')

In [9]:
# double check the variable names we have
set(df['paleoData_variableName'])

{'SrCa', 'SrCa_annual', 'd18O', 'd18O_annual', 'd18O_sw', 'd18O_sw_annual'}

In [10]:
# KF: adding original dataset name and yearUnits
df.insert(7, 'originalDatabase', ['CoralHydro2k v1.0.0']*len(df))
df.insert(len(df.columns), 'yearUnits', ['CE'] * len(df))
df.insert(1, 'climateInterpretation_variable', ['N/A']*len(df))
df.insert(1, 'climateInterpretation_variableDetail', ['N/A']*len(df))

In [11]:
# Rename columns to fit naming conventions
df = df.rename(columns={'paleoData_variableName': 'paleoData_proxy', 'originalDataUrl': 'originalDataURL',
                        'paleoData_archiveSpecies': 'paleoData_sensorSpecies'})

In [12]:
# assign climateInterpretation_variable

# d18O is temperature and moisture
df.loc[np.isin(df['paleoData_proxy'], ['d18O', 'd18O_annual']), 'climateInterpretation_variable']='temperature+moisture' 
df.loc[np.isin(df['paleoData_proxy'], ['d18O', 'd18O_annual']), 'climateInterpretation_variableDetail']='temperature+moisture - manually assigned by DoD2k authors for paleoData_proxy = d18O' 
# d18O_sw is moisture
df.loc[np.isin(df['paleoData_proxy'], ['d18O_sw', 'd18O_sw_annual']), 'climateInterpretation_variable']='moisture' 
df.loc[np.isin(df['paleoData_proxy'], ['d18O_sw', 'd18O_sw_annual']), 'climateInterpretation_variableDetail']='moisture - manually assigned by DoD2k authors for paleoData_proxy = d18O_sw' 
# SrCa is temperature
df.loc[np.isin(df['paleoData_proxy'], ['SrCa', 'SrCa_annual']), 'climateInterpretation_variable']='temperature' 
df.loc[np.isin(df['paleoData_proxy'], ['SrCa', 'SrCa_annual']), 'climateInterpretation_variableDetail']='temperature - manually assigned by DoD2k authors for paleoData_proxy = Sr/Ca'

In [13]:
import re
# KF: Extract and exclude sw values
df_sw = df[df['paleoData_proxy'].isin(['d18O_sw', 'd18O_sw_annual'])]
df = df[df['paleoData_proxy'].isin(['d18O_sw', 'd18O_sw_annual']) == False]
# KF: I was told to exclude the SW data for the concatented data by Mike

# KF: Turn annual measurements into regular
df_annual = df[df['paleoData_proxy'].isin(['SrCa_annual', 'd18O_annual'])]
df ['paleoData_proxy'] = df['paleoData_proxy'].apply(lambda x: re.match(r'(.*)_annual', x).group(1) if re.match(r'(.*)_annual', x) else x)

# KF: Replace SrCa with Sr/Ca for concat consistency
df_annual = df[df['paleoData_proxy'].isin(['SrCa_annual', 'd18O_annual'])]
df ['paleoData_proxy'] = df['paleoData_proxy'].apply(lambda x: 'Sr/Ca' if re.match('SrCa', x) else x)

# KF: Temp cleaning rows with NAN in year
length = len(df['year'])
df = df[df['year'].notna()]
df = df[df['year'].map(lambda x: len(x) > 0)]
df = df[df['paleoData_values'].map(lambda x: not any(pd.isnull(x)))]
print('Number of rows discarded: ', (length - len(df['year'])))

# KF: Make datasetIds unique
df['datasetId'] = df['datasetId'] + np.array(df.index, dtype = str)

Number of rows discarded:  0

In [14]:
# KF: Type-checking

df = df.astype({'archiveType': str, 'dataSetName': str, 'datasetId': str, 'geo_meanElev': np.float32, 'geo_meanLat': np.float32, 'geo_meanLon': np.float32, 'geo_siteName': str, 
                    'originalDatabase': str, 'originalDataURL': str, 'paleoData_notes': str, 'paleoData_proxy': str, 'paleoData_units': str, 'yearUnits': str})
df['year']             = df['year'].map(lambda x: np.array(x, dtype = np.float32))
df['paleoData_values'] = df['paleoData_values'].map(lambda x: np.array(x, dtype = np.float32))

In [15]:
for ii in df.index:
    year = np.array(df.at[ii, 'year'], dtype=float)
    vals = np.array(df.at[ii, 'paleoData_values'], dtype=float)
    df.at[ii, 'year']             = year[year>=1]
    df.at[ii, 'paleoData_values'] = vals[year>=1]

In [16]:
# Display dataframe

df = df[sorted(df.columns)]
df.reset_index(drop= True, inplace= True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   archiveType                           272 non-null    object
 1   climateInterpretation_variable        272 non-null    object
 2   climateInterpretation_variableDetail  272 non-null    object
 3   dataSetName                           272 non-null    object
 4   datasetId                             272 non-null    object
 5   geo_meanElev                          229 non-null    float32
 6   geo_meanLat                           272 non-null    float32
 7   geo_meanLon                           272 non-null    float32
 8   geo_siteName                          272 non-null    object
 9   originalDataURL                       272 non-null    object
 10  originalDatabase                      272 non-null    object
 11  paleoData_notes                       272 non-null    object
 12  paleoData_proxy                       272 non-null    object
 13  paleoData_sensorSpecies               272 non-null    object
 14  paleoData_units                       272 non-null    object
 15  paleoData_values                      272 non-null    object
 16  year                                  272 non-null    object
 17  yearUnits                             272 non-null    object
dtypes: float32(3), object(15)
memory usage: 35.2+ KB
None

In [17]:
#  check that the datasetId is unique - it currently is not (df has 272 records).
print(len(df.datasetId.unique()))
# make datasetId unique by simply adding index number
df.datasetId=df.apply(lambda x: x.datasetId.replace('ch2k','ch2k_')+'_'+str(x.name), axis=1)
# check uniqueness - problem solved.
print(len(df.datasetId.unique()))

272
272

In [18]:
# KF: apply -9999.99 masking to nans
df['paleoData_values'] = df['paleoData_values'].map(lambda x: [-9999.99 if pd.isnull(y) else y for y in x])
df['paleoData_values'] = df['paleoData_values'].map(lambda x: [-9999.99 if y == 'nan' else y for y in x])
df['paleoData_values'] = df['paleoData_values'].map(lambda x: [-9999.99 if np.isnan(y) else y for y in x])

df['year'] = df['year'].map(lambda x: [-9999.99 if pd.isnull(y) else y for y in x])
df['year'] = df['year'].map(lambda x: [-9999.99 if y == 'nan' else y for y in x])
df['year'] = df['year'].map(lambda x: [-9999.99 if np.isnan(y) else y for y in x])

In [19]:
# drop nans 

for ii in df.index:
    dd   = np.array(df.at[ii, 'paleoData_values'])
    mask = dd==-9999.99
    df.at[ii, 'paleoData_values']=dd[~mask]
    df.at[ii, 'year']=np.array(df.at[ii, 'year'])[~mask]
    
drop_inds = []
for ii in range(df.shape[0]):
    # print(df.iloc[ii]['year'])
    if len(df.iloc[ii]['year'])==0:
        print('empty', ii, df.iloc[ii]['year'], df.iloc[ii]['originalDatabase'])
        print(df.iloc[ii]['paleoData_values'])
        drop_inds += [df.index[ii]]

for ii, row in enumerate(df.paleoData_values):
    if np.std(row)==0: 
        print(ii, 'std=0')
    elif np.sum(np.diff(row)**2)==0: 
        print(ii, 'diff=0')
    elif np.isnan(np.std(row)):
        print(ii, 'std nan')
    else:
        continue
    if df.index[ii] not in drop_inds: 
        drop_inds += [df.index[ii]]
    
print(drop_inds)
df = df.drop(index=drop_inds)

[]

In [20]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   archiveType                           272 non-null    object
 1   climateInterpretation_variable        272 non-null    object
 2   climateInterpretation_variableDetail  272 non-null    object
 3   dataSetName                           272 non-null    object
 4   datasetId                             272 non-null    object
 5   geo_meanElev                          229 non-null    float32
 6   geo_meanLat                           272 non-null    float32
 7   geo_meanLon                           272 non-null    float32
 8   geo_siteName                          272 non-null    object
 9   originalDataURL                       272 non-null    object
 10  originalDatabase                      272 non-null    object
 11  paleoData_notes                       272 non-null    object
 12  paleoData_proxy                       272 non-null    object
 13  paleoData_sensorSpecies               272 non-null    object
 14  paleoData_units                       272 non-null    object
 15  paleoData_values                      272 non-null    object
 16  year                                  272 non-null    object
 17  yearUnits                             272 non-null    object
dtypes: float32(3), object(15)
memory usage: 35.2+ KB
None

## save compact dataframe

### save pickle

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   archiveType                           272 non-null    object
 1   climateInterpretation_variable        272 non-null    object
 2   climateInterpretation_variableDetail  272 non-null    object
 3   dataSetName                           272 non-null    object
 4   datasetId                             272 non-null    object
 5   geo_meanElev                          229 non-null    float32
 6   geo_meanLat                           272 non-null    float32
 7   geo_meanLon                           272 non-null    float32
 8   geo_siteName                          272 non-null    object
 9   originalDataURL                       272 non-null    object
 10  originalDatabase                      272 non-null    object
 11  paleoData_notes                       272 non-null    object
 12  paleoData_proxy                       272 non-null    object
 13  paleoData_sensorSpecies               272 non-null    object
 14  paleoData_units                       272 non-null    object
 15  paleoData_values                      272 non-null    object
 16  year                                  272 non-null    object
 17  yearUnits                             272 non-null    object
dtypes: float32(3), object(15)
memory usage: 35.2+ KB

In [22]:
# save to a pickle file
df.to_pickle('ch2k/ch2k_compact.pkl')

### save csv

In [23]:
# save to a list of csv files (metadata, data, year)
df.name='ch2k'
f.write_compact_dataframe_to_csv(df)

METADATA: archiveType, climateInterpretation_variable, climateInterpretation_variableDetail, dataSetName, datasetId, geo_meanElev, geo_meanLat, geo_meanLon, geo_siteName, originalDataURL, originalDatabase, paleoData_notes, paleoData_proxy, paleoData_sensorSpecies, paleoData_units, yearUnits
Saved to /home/jupyter-mnevans/dod2k/ch2k/ch2k_compact_%s.csv

In [24]:
# load dataframe
f.load_compact_dataframe_from_csv('ch2k').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   archiveType                           272 non-null    object
 1   climateInterpretation_variable        272 non-null    object
 2   climateInterpretation_variableDetail  272 non-null    object
 3   dataSetName                           272 non-null    object
 4   datasetId                             272 non-null    object
 5   geo_meanElev                          229 non-null    float32
 6   geo_meanLat                           272 non-null    float32
 7   geo_meanLon                           272 non-null    float32
 8   geo_siteName                          272 non-null    object
 9   originalDataURL                       272 non-null    object
 10  originalDatabase                      272 non-null    object
 11  paleoData_notes                       272 non-null    object
 12  paleoData_proxy                       272 non-null    object
 13  paleoData_sensorSpecies               272 non-null    object
 14  paleoData_units                       272 non-null    object
 15  paleoData_values                      272 non-null    object
 16  year                                  272 non-null    object
 17  yearUnits                             272 non-null    object
dtypes: float32(3), object(15)
memory usage: 35.2+ KB

# check output

## dataset metadata: dataSetName, datasetId, originalDataURL, originalDatabase

### index

In [25]:
# # check index
print(df.index)

RangeIndex(start=0, stop=272, step=1)

### dataSetName

In [26]:
# # check dataSetName
key = 'dataSetName'
print('%s: '%key)
print(df[key].values)

dataSetName:
['CH03BUN01' 'ZI15MER01' 'ZI15MER01' 'CO03PAL03' 'CO03PAL02' 'CA13PEL01'
 'LI06RAR01' 'CO03PAL07' 'FL18DTO03' 'SM06LKF02' 'SM06LKF02' 'UR00MAI01'
 'TU95MAD01' 'ZI04IFR01' 'ZI04IFR01' 'RE18CAY01' 'RE18CAY01' 'RE18CAY01'
 'RE18CAY01' 'KU99HOU01' 'OS13NLP01' 'EV98KIR01' 'LI00RAR01' 'LI00RAR01'
 'NU11PAL01' 'NU11PAL01' 'MA08DTO01' 'MA08DTO01' 'AB20MEN03' 'CA14TIM01'
 'CA14TIM01' 'KA17RYU01' 'MC11KIR01' 'AB20MEN09' 'HE08LRA01' 'DA06MAF01'
 'SM06LKF01' 'SM06LKF01' 'NA09MAL01' 'SW98STP01' 'MU18GSI01' 'MU18GSI01'
 'ZI14HOU01' 'ZI14HOU01' 'ZI14HOU01' 'ZI14HOU01' 'FL17DTO02' 'FL17DTO02'
 'DA06MAF02' 'SA19PAL02' 'SA19PAL02' 'CO03PAL01' 'ZI16ROD01' 'OS13NGP01'
 'CH98PIR01' 'RE19GBR02' 'RE19GBR02' 'MU18RED04' 'MU18RED04' 'GR13MAD01'
 'XI17HAI01' 'XI17HAI01' 'XI17HAI01' 'XI17HAI01' 'DE14DTO03' 'KL97DAH01'
 'QU06RAB01' 'QU06RAB01' 'DE14DTO01' 'KU00NIN01' 'TU01SIA01' 'RE19GBR01'
 'RE19GBR01' 'GR13MAD02' 'AB20MEN07' 'BR19RED01' 'BR19RED01' 'NU09FAN01'
 'NU09FAN01' 'MU18RED01' 'OS14RIP01' 'DE14DTO02' 'LI04FIJ01' 'LI04FIJ01'
 'EV18ROC01' 'EV18ROC01' 'CA13SAP01' 'JI18GAL02' 'TU01LAI01' 'HE13MIS01'
 'HE13MIS01' 'GU99NAU02' 'ZI15IMP02' 'ZI15IMP02' 'PF04PBA01' 'SA20FAN02'
 'WE09ARR01' 'WE09ARR01' 'CO03PAL05' 'XU15BVI01' 'HE18COC02' 'HE18COC02'
 'MU18NPI01' 'MU18NPI01' 'MO06PED01' 'KR20SAR01' 'KR20SAR01' 'SA18GBR01'
 'OS14UCP01' 'AB20MEN08' 'HE13MIS02' 'HE13MIS02' 'HE10GUA01' 'HE10GUA01'
 'HE10GUA01' 'HE10GUA01' 'BO14HTI01' 'BO14HTI01' 'DE12ANC01' 'WA17BAN01'
 'WA17BAN01' 'DR99ABR01' 'DR99ABR01' 'RO19MAR01' 'LI06RAR02' 'MU18RED03'
 'SW99LIG01' 'SA16CLA01' 'ZI15TAN01' 'ZI15TAN01' 'RE19GBR03' 'RE19GBR03'
 'DR00KSB01' 'BO14HTI02' 'BO14HTI02' 'MU17DOA01' 'TA18TAS01' 'XU15BVI03'
 'DU94URV02' 'DU94URV02' 'AS05GUA01' 'FE09OGA01' 'FE09OGA01' 'FE09OGA01'
 'FE09OGA01' 'GU99NAU01' 'SA20FAN01' 'CA13DIA01' 'AL16PUR02' 'CO03PAL10'
 'RE19GBR05' 'ZI15IMP01' 'ZI15IMP01' 'KR20SAR02' 'KR20SAR02' 'RO19YUC01'
 'RO19YUC01' 'ST13MAL01' 'ST13MAL01' 'DR00NBB01' 'PF19LAR01' 'PF19LAR01'
 'AL16YUC01' 'CO03PAL09' 'ZI16ROD02' 'AB20MEN05' 'SH92PUN01' 'KI04MCV01'
 'KI04MCV01' 'AL16PUR01' 'CH18YOA02' 'DE14DTO04' 'AB20MEN04' 'DE16RED01'
 'BA04FIJ02' 'BA04FIJ02' 'CO03PAL06' 'JI18GAL01' 'CH18YOA01' 'RE19GBR04'
 'DO18DAV01' 'GO12SBV01' 'GO12SBV01' 'CA07FLI01' 'CA07FLI01' 'SW99LIG02'
 'MC04PNG01' 'CO93TAR01' 'RO19PAR01' 'CO00MAL01' 'MO20WOA01' 'MO20WOA01'
 'AB20MEN01' 'QU96ESV01' 'DE13HAI01' 'DE13HAI01' 'DE13HAI01' 'DE13HAI01'
 'LI94SEC01' 'ZI15CLE01' 'ZI15CLE01' 'MU18RED02' 'ZI08MAY01' 'ZI08MAY01'
 'TU01DEP01' 'CO03PAL04' 'RA19PAI01' 'RA19PAI01' 'AB15BHB01' 'FL18DTO01'
 'MO20KOI01' 'MO20KOI01' 'DU94URV01' 'DU94URV01' 'CO03PAL08' 'WU14CLI01'
 'WU14CLI01' 'ZI14TUR01' 'ZI14TUR01' 'AB20MEN02' 'LI99CLI01' 'ZI15BUN01'
 'ZI15BUN01' 'FE18RUS01' 'FE18RUS01' 'FE18RUS01' 'FE18RUS01' 'WU13TON01'
 'WU13TON01' 'WU13TON01' 'WU13TON01' 'KI14PAR01' 'KI14PAR01' 'KI14PAR01'
 'KI14PAR01' 'ZI14IFR02' 'ZI14IFR02' 'XU15BVI02' 'KI08PAR01' 'KI08PAR01'
 'KI08PAR01' 'KI08PAR01' 'AB20MEN06' 'AB08MEN01' 'NU09KIR01' 'NU09KIR01'
 'RI10PBL01' 'CA14BUT01' 'CA14BUT01' 'FL18DTO02' 'FL18DTO04' 'BA04FIJ01'
 'BA04FIJ01' 'HE02GBR01' 'HE02GBR01' 'GO08BER01' 'GO08BER01' 'GO08BER01'
 'GO08BER01' 'CA13TUR01' 'LI06FIJ01' 'HE18COC01' 'HE18COC01' 'FL17DTO01'
 'FL17DTO01' 'BO99MOO01' 'CH03LOM01' 'SA19PAL01' 'SA19PAL01' 'CH97BVB01'
 'RA20TAI01' 'RA20TAI01']

### datasetId

In [27]:
# # check datasetId

print(len(df.datasetId.unique()))
print(len(df))
key = 'datasetId'
print('%s (starts with): '%key)
print(df[key].values)

272
272
datasetId (starts with):
['ch2k_CH03BUN010_0' 'ch2k_ZI15MER012_1' 'ch2k_ZI15MER014_2'
 'ch2k_CO03PAL036_3' 'ch2k_CO03PAL028_4' 'ch2k_CA13PEL0110_5'
 'ch2k_LI06RAR0112_6' 'ch2k_CO03PAL0714_7' 'ch2k_FL18DTO0316_8'
 'ch2k_SM06LKF0218_9' 'ch2k_SM06LKF0220_10' 'ch2k_UR00MAI0122_11'
 'ch2k_TU95MAD0124_12' 'ch2k_ZI04IFR0126_13' 'ch2k_ZI04IFR0128_14'
 'ch2k_RE18CAY0130_15' 'ch2k_RE18CAY0132_16' 'ch2k_RE18CAY0134_17'
 'ch2k_RE18CAY0136_18' 'ch2k_KU99HOU0140_19' 'ch2k_OS13NLP0142_20'
 'ch2k_EV98KIR0144_21' 'ch2k_LI00RAR0146_22' 'ch2k_LI00RAR0148_23'
 'ch2k_NU11PAL0152_24' 'ch2k_NU11PAL0154_25' 'ch2k_MA08DTO0158_26'
 'ch2k_MA08DTO0160_27' 'ch2k_AB20MEN0362_28' 'ch2k_CA14TIM0164_29'
 'ch2k_CA14TIM0166_30' 'ch2k_KA17RYU0170_31' 'ch2k_MC11KIR0172_32'
 'ch2k_AB20MEN0974_33' 'ch2k_HE08LRA0176_34' 'ch2k_DA06MAF0178_35'
 'ch2k_SM06LKF0180_36' 'ch2k_SM06LKF0182_37' 'ch2k_NA09MAL0184_38'
 'ch2k_SW98STP0186_39' 'ch2k_MU18GSI0188_40' 'ch2k_MU18GSI0190_41'
 'ch2k_ZI14HOU0192_42' 'ch2k_ZI14HOU0194_43' 'ch2k_ZI14HOU0196_44'
 'ch2k_ZI14HOU0198_45' 'ch2k_FL17DTO02100_46' 'ch2k_FL17DTO02102_47'
 'ch2k_DA06MAF02104_48' 'ch2k_SA19PAL02106_49' 'ch2k_SA19PAL02108_50'
 'ch2k_CO03PAL01110_51' 'ch2k_ZI16ROD01112_52' 'ch2k_OS13NGP01114_53'
 'ch2k_CH98PIR01116_54' 'ch2k_RE19GBR02118_55' 'ch2k_RE19GBR02120_56'
 'ch2k_MU18RED04122_57' 'ch2k_MU18RED04124_58' 'ch2k_GR13MAD01126_59'
 'ch2k_XI17HAI01128_60' 'ch2k_XI17HAI01130_61' 'ch2k_XI17HAI01134_62'
 'ch2k_XI17HAI01136_63' 'ch2k_DE14DTO03140_64' 'ch2k_KL97DAH01142_65'
 'ch2k_QU06RAB01144_66' 'ch2k_QU06RAB01146_67' 'ch2k_DE14DTO01148_68'
 'ch2k_KU00NIN01150_69' 'ch2k_TU01SIA01152_70' 'ch2k_RE19GBR01154_71'
 'ch2k_RE19GBR01156_72' 'ch2k_GR13MAD02158_73' 'ch2k_AB20MEN07160_74'
 'ch2k_BR19RED01162_75' 'ch2k_BR19RED01164_76' 'ch2k_NU09FAN01166_77'
 'ch2k_NU09FAN01168_78' 'ch2k_MU18RED01172_79' 'ch2k_OS14RIP01174_80'
 'ch2k_DE14DTO02176_81' 'ch2k_LI04FIJ01178_82' 'ch2k_LI04FIJ01180_83'
 'ch2k_EV18ROC01184_84' 'ch2k_EV18ROC01186_85' 'ch2k_CA13SAP01188_86'
 'ch2k_JI18GAL02190_87' 'ch2k_TU01LAI01192_88' 'ch2k_HE13MIS01194_89'
 'ch2k_HE13MIS01196_90' 'ch2k_GU99NAU02198_91' 'ch2k_ZI15IMP02200_92'
 'ch2k_ZI15IMP02202_93' 'ch2k_PF04PBA01204_94' 'ch2k_SA20FAN02206_95'
 'ch2k_WE09ARR01208_96' 'ch2k_WE09ARR01210_97' 'ch2k_CO03PAL05212_98'
 'ch2k_XU15BVI01214_99' 'ch2k_HE18COC02216_100' 'ch2k_HE18COC02218_101'
 'ch2k_MU18NPI01222_102' 'ch2k_MU18NPI01224_103' 'ch2k_MO06PED01226_104'
 'ch2k_KR20SAR01228_105' 'ch2k_KR20SAR01230_106' 'ch2k_SA18GBR01234_107'
 'ch2k_OS14UCP01236_108' 'ch2k_AB20MEN08238_109' 'ch2k_HE13MIS02240_110'
 'ch2k_HE13MIS02242_111' 'ch2k_HE10GUA01244_112' 'ch2k_HE10GUA01246_113'
 'ch2k_HE10GUA01248_114' 'ch2k_HE10GUA01250_115' 'ch2k_BO14HTI01252_116'
 'ch2k_BO14HTI01254_117' 'ch2k_DE12ANC01258_118' 'ch2k_WA17BAN01260_119'
 'ch2k_WA17BAN01262_120' 'ch2k_DR99ABR01264_121' 'ch2k_DR99ABR01266_122'
 'ch2k_RO19MAR01268_123' 'ch2k_LI06RAR02270_124' 'ch2k_MU18RED03272_125'
 'ch2k_SW99LIG01274_126' 'ch2k_SA16CLA01276_127' 'ch2k_ZI15TAN01278_128'
 'ch2k_ZI15TAN01280_129' 'ch2k_RE19GBR03282_130' 'ch2k_RE19GBR03284_131'
 'ch2k_DR00KSB01286_132' 'ch2k_BO14HTI02288_133' 'ch2k_BO14HTI02290_134'
 'ch2k_MU17DOA01292_135' 'ch2k_TA18TAS01294_136' 'ch2k_XU15BVI03296_137'
 'ch2k_DU94URV02298_138' 'ch2k_DU94URV02300_139' 'ch2k_AS05GUA01302_140'
 'ch2k_FE09OGA01304_141' 'ch2k_FE09OGA01306_142' 'ch2k_FE09OGA01308_143'
 'ch2k_FE09OGA01310_144' 'ch2k_GU99NAU01314_145' 'ch2k_SA20FAN01316_146'
 'ch2k_CA13DIA01318_147' 'ch2k_AL16PUR02320_148' 'ch2k_CO03PAL10324_149'
 'ch2k_RE19GBR05326_150' 'ch2k_ZI15IMP01328_151' 'ch2k_ZI15IMP01330_152'
 'ch2k_KR20SAR02332_153' 'ch2k_KR20SAR02334_154' 'ch2k_RO19YUC01338_155'
 'ch2k_RO19YUC01340_156' 'ch2k_ST13MAL01344_157' 'ch2k_ST13MAL01346_158'
 'ch2k_DR00NBB01348_159' 'ch2k_PF19LAR01350_160' 'ch2k_PF19LAR01352_161'
 'ch2k_AL16YUC01354_162' 'ch2k_CO03PAL09358_163' 'ch2k_ZI16ROD02360_164'
 'ch2k_AB20MEN05362_165' 'ch2k_SH92PUN01364_166' 'ch2k_KI04MCV01366_167'
 'ch2k_KI04MCV01368_168' 'ch2k_AL16PUR01370_169' 'ch2k_CH18YOA02374_170'
 'ch2k_DE14DTO04376_171' 'ch2k_AB20MEN04378_172' 'ch2k_DE16RED01380_173'
 'ch2k_BA04FIJ02382_174' 'ch2k_BA04FIJ02384_175' 'ch2k_CO03PAL06386_176'
 'ch2k_JI18GAL01388_177' 'ch2k_CH18YOA01390_178' 'ch2k_RE19GBR04392_179'
 'ch2k_DO18DAV01394_180' 'ch2k_GO12SBV01396_181' 'ch2k_GO12SBV01398_182'
 'ch2k_CA07FLI01400_183' 'ch2k_CA07FLI01402_184' 'ch2k_SW99LIG02404_185'
 'ch2k_MC04PNG01406_186' 'ch2k_CO93TAR01408_187' 'ch2k_RO19PAR01410_188'
 'ch2k_CO00MAL01412_189' 'ch2k_MO20WOA01414_190' 'ch2k_MO20WOA01416_191'
 'ch2k_AB20MEN01420_192' 'ch2k_QU96ESV01422_193' 'ch2k_DE13HAI01424_194'
 'ch2k_DE13HAI01426_195' 'ch2k_DE13HAI01430_196' 'ch2k_DE13HAI01432_197'
 'ch2k_LI94SEC01436_198' 'ch2k_ZI15CLE01438_199' 'ch2k_ZI15CLE01440_200'
 'ch2k_MU18RED02442_201' 'ch2k_ZI08MAY01444_202' 'ch2k_ZI08MAY01446_203'
 'ch2k_TU01DEP01450_204' 'ch2k_CO03PAL04452_205' 'ch2k_RA19PAI01454_206'
 'ch2k_RA19PAI01456_207' 'ch2k_AB15BHB01458_208' 'ch2k_FL18DTO01460_209'
 'ch2k_MO20KOI01462_210' 'ch2k_MO20KOI01464_211' 'ch2k_DU94URV01468_212'
 'ch2k_DU94URV01470_213' 'ch2k_CO03PAL08472_214' 'ch2k_WU14CLI01474_215'
 'ch2k_WU14CLI01476_216' 'ch2k_ZI14TUR01480_217' 'ch2k_ZI14TUR01482_218'
 'ch2k_AB20MEN02484_219' 'ch2k_LI99CLI01486_220' 'ch2k_ZI15BUN01488_221'
 'ch2k_ZI15BUN01490_222' 'ch2k_FE18RUS01492_223' 'ch2k_FE18RUS01494_224'
 'ch2k_FE18RUS01496_225' 'ch2k_FE18RUS01498_226' 'ch2k_WU13TON01502_227'
 'ch2k_WU13TON01504_228' 'ch2k_WU13TON01506_229' 'ch2k_WU13TON01508_230'
 'ch2k_KI14PAR01510_231' 'ch2k_KI14PAR01512_232' 'ch2k_KI14PAR01516_233'
 'ch2k_KI14PAR01518_234' 'ch2k_ZI14IFR02522_235' 'ch2k_ZI14IFR02524_236'
 'ch2k_XU15BVI02526_237' 'ch2k_KI08PAR01528_238' 'ch2k_KI08PAR01530_239'
 'ch2k_KI08PAR01532_240' 'ch2k_KI08PAR01534_241' 'ch2k_AB20MEN06536_242'
 'ch2k_AB08MEN01538_243' 'ch2k_NU09KIR01540_244' 'ch2k_NU09KIR01542_245'
 'ch2k_RI10PBL01546_246' 'ch2k_CA14BUT01548_247' 'ch2k_CA14BUT01550_248'
 'ch2k_FL18DTO02554_249' 'ch2k_FL18DTO04556_250' 'ch2k_BA04FIJ01558_251'
 'ch2k_BA04FIJ01560_252' 'ch2k_HE02GBR01562_253' 'ch2k_HE02GBR01564_254'
 'ch2k_GO08BER01568_255' 'ch2k_GO08BER01570_256' 'ch2k_GO08BER01572_257'
 'ch2k_GO08BER01574_258' 'ch2k_CA13TUR01580_259' 'ch2k_LI06FIJ01582_260'
 'ch2k_HE18COC01584_261' 'ch2k_HE18COC01586_262' 'ch2k_FL17DTO01590_263'
 'ch2k_FL17DTO01592_264' 'ch2k_BO99MOO01594_265' 'ch2k_CH03LOM01596_266'
 'ch2k_SA19PAL01598_267' 'ch2k_SA19PAL01600_268' 'ch2k_CH97BVB01602_269'
 'ch2k_RA20TAI01604_270' 'ch2k_RA20TAI01606_271']

### originalDataURL

In [28]:
# originalDataURL
key = 'originalDataURL'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))
# 'this study' should point to the correct URL (PAGES2k)

originalDataURL:
['https://doi.org/10.1594/PANGAEA.874078'
 'https://doi.pangaea.de/10.1594/PANGAEA.743953'
 'https://doi.pangaea.de/10.1594/PANGAEA.830601'
 'https://doi.pangaea.de/10.1594/PANGAEA.88199'
 'https://doi.pangaea.de/10.1594/PANGAEA.88200'
 'https://doi.pangaea.de/10.1594/PANGAEA.887712'
 'https://doi.pangaea.de/10.1594/PANGAEA.891094'
 'https://www.ncdc.noaa.gov/paleo/study/1003972'
 'https://www.ncdc.noaa.gov/paleo/study/1003973'
 'https://www.ncdc.noaa.gov/paleo/study/10373'
 'https://www.ncdc.noaa.gov/paleo/study/10425'
 'https://www.ncdc.noaa.gov/paleo/study/10808'
 'https://www.ncdc.noaa.gov/paleo/study/11935'
 'https://www.ncdc.noaa.gov/paleo/study/12278'
 'https://www.ncdc.noaa.gov/paleo/study/12891'
 'https://www.ncdc.noaa.gov/paleo/study/12893'
 'https://www.ncdc.noaa.gov/paleo/study/12994'
 'https://www.ncdc.noaa.gov/paleo/study/13035'
 'https://www.ncdc.noaa.gov/paleo/study/13439'
 'https://www.ncdc.noaa.gov/paleo/study/15238'
 'https://www.ncdc.noaa.gov/paleo/study/15794'
 'https://www.ncdc.noaa.gov/paleo/study/16217'
 'https://www.ncdc.noaa.gov/paleo/study/16316'
 'https://www.ncdc.noaa.gov/paleo/study/16338'
 'https://www.ncdc.noaa.gov/paleo/study/16339'
 'https://www.ncdc.noaa.gov/paleo/study/16438'
 'https://www.ncdc.noaa.gov/paleo/study/17035'
 'https://www.ncdc.noaa.gov/paleo/study/17289'
 'https://www.ncdc.noaa.gov/paleo/study/17378'
 'https://www.ncdc.noaa.gov/paleo/study/1839'
 'https://www.ncdc.noaa.gov/paleo/study/1842'
 'https://www.ncdc.noaa.gov/paleo/study/1844'
 'https://www.ncdc.noaa.gov/paleo/study/1845'
 'https://www.ncdc.noaa.gov/paleo/study/1846'
 'https://www.ncdc.noaa.gov/paleo/study/1847'
 'https://www.ncdc.noaa.gov/paleo/study/1848'
 'https://www.ncdc.noaa.gov/paleo/study/1850'
 'https://www.ncdc.noaa.gov/paleo/study/1853'
 'https://www.ncdc.noaa.gov/paleo/study/1855'
 'https://www.ncdc.noaa.gov/paleo/study/1856'
 'https://www.ncdc.noaa.gov/paleo/study/1857'
 'https://www.ncdc.noaa.gov/paleo/study/1859'
 'https://www.ncdc.noaa.gov/paleo/study/1866'
 'https://www.ncdc.noaa.gov/paleo/study/1867'
 'https://www.ncdc.noaa.gov/paleo/study/1869'
 'https://www.ncdc.noaa.gov/paleo/study/1875'
 'https://www.ncdc.noaa.gov/paleo/study/1876'
 'https://www.ncdc.noaa.gov/paleo/study/1881'
 'https://www.ncdc.noaa.gov/paleo/study/18895'
 'https://www.ncdc.noaa.gov/paleo/study/1891'
 'https://www.ncdc.noaa.gov/paleo/study/1897'
 'https://www.ncdc.noaa.gov/paleo/study/1901'
 'https://www.ncdc.noaa.gov/paleo/study/1903'
 'https://www.ncdc.noaa.gov/paleo/study/1911'
 'https://www.ncdc.noaa.gov/paleo/study/1913'
 'https://www.ncdc.noaa.gov/paleo/study/1914'
 'https://www.ncdc.noaa.gov/paleo/study/1915'
 'https://www.ncdc.noaa.gov/paleo/study/19179'
 'https://www.ncdc.noaa.gov/paleo/study/19239'
 'https://www.ncdc.noaa.gov/paleo/study/1925'
 'https://www.ncdc.noaa.gov/paleo/study/21011'
 'https://www.ncdc.noaa.gov/paleo/study/21310'
 'https://www.ncdc.noaa.gov/paleo/study/21710'
 'https://www.ncdc.noaa.gov/paleo/study/22056'
 'https://www.ncdc.noaa.gov/paleo/study/22252'
 'https://www.ncdc.noaa.gov/paleo/study/22991'
 'https://www.ncdc.noaa.gov/paleo/study/23351'
 'https://www.ncdc.noaa.gov/paleo/study/23390'
 'https://www.ncdc.noaa.gov/paleo/study/23850'
 'https://www.ncdc.noaa.gov/paleo/study/24477'
 'https://www.ncdc.noaa.gov/paleo/study/24630'
 'https://www.ncdc.noaa.gov/paleo/study/25270'
 'https://www.ncdc.noaa.gov/paleo/study/25290'
 'https://www.ncdc.noaa.gov/paleo/study/26531'
 'https://www.ncdc.noaa.gov/paleo/study/27271'
 'https://www.ncdc.noaa.gov/paleo/study/27450'
 'https://www.ncdc.noaa.gov/paleo/study/28130'
 'https://www.ncdc.noaa.gov/paleo/study/28451'
 'https://www.ncdc.noaa.gov/paleo/study/29312'
 'https://www.ncdc.noaa.gov/paleo/study/29412'
 'https://www.ncdc.noaa.gov/paleo/study/29952'
 'https://www.ncdc.noaa.gov/paleo/study/30493'
 'https://www.ncdc.noaa.gov/paleo/study/31552'
 'https://www.ncdc.noaa.gov/paleo/study/33732'
 'https://www.ncdc.noaa.gov/paleo/study/34372'
 'https://www.ncdc.noaa.gov/paleo/study/34373'
 'https://www.ncdc.noaa.gov/paleo/study/34392'
 'https://www.ncdc.noaa.gov/paleo/study/34393'
 'https://www.ncdc.noaa.gov/paleo/study/34394'
 'https://www.ncdc.noaa.gov/paleo/study/34412'
 'https://www.ncdc.noaa.gov/paleo/study/34413'
 'https://www.ncdc.noaa.gov/paleo/study/34452'
 'https://www.ncdc.noaa.gov/paleo/study/34472'
 'https://www.ncdc.noaa.gov/paleo/study/34512'
 'https://www.ncdc.noaa.gov/paleo/study/34552'
 'https://www.ncdc.noaa.gov/paleo/study/34553'
 'https://www.ncdc.noaa.gov/paleo/study/34612'
 'https://www.ncdc.noaa.gov/paleo/study/34692'
 'https://www.ncdc.noaa.gov/paleo/study/34953'
 'https://www.ncdc.noaa.gov/paleo/study/6087'
 'https://www.ncdc.noaa.gov/paleo/study/6089'
 'https://www.ncdc.noaa.gov/paleo/study/6116'
 'https://www.ncdc.noaa.gov/paleo/study/6117'
 'https://www.ncdc.noaa.gov/paleo/study/6184'
 'https://www.ncdc.noaa.gov/paleo/study/8424'
 'https://www.ncdc.noaa.gov/paleo/study/8607'
 'https://www.ncdc.noaa.gov/paleo/study/8609'
 'https://www.ncdc.noaa.gov/paleo/study/9639'
 'https://www.ncdc.noaa.gov/paleo/study/9813']

### originalDatabase

In [29]:
# # originalDataSet
key = 'originalDatabase'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))
# Note: the last two records have missing URLs

originalDatabase:
['CoralHydro2k v1.0.0']

## geographical metadata: elevation, latitude, longitude, site name

### geo_meanElev

In [30]:
# check Elevation
key = 'geo_meanElev'
print('%s: '%key)
print(df[key])
print(np.unique(['%d'%kk for kk in df[key] if np.isfinite(kk)]))

geo_meanElev:
0      -3.0
1     -17.0
2     -17.0
3       NaN
4       NaN
       ...
267   -10.0
268   -10.0
269    -7.0
270    -6.0
271    -6.0
Name: geo_meanElev, Length: 272, dtype: float32
['-1' '-10' '-11' '-12' '-14' '-16' '-17' '-18' '-2' '-25' '-3' '-4' '-5'
 '-6' '-7' '-8' '-9' '0']

### geo_meanLat

In [31]:
# # Latitude
key = 'geo_meanLat'
print('%s: '%key)
print(np.unique(['%d'%kk for kk in df[key]]))

geo_meanLat:
['-10' '-11' '-12' '-13' '-14' '-15' '-16' '-17' '-18' '-19' '-2' '-21'
 '-22' '-23' '-28' '-3' '-4' '-5' '-6' '-8' '0' '1' '10' '11' '12' '13'
 '14' '15' '16' '17' '18' '19' '2' '20' '21' '22' '23' '24' '25' '27' '28'
 '3' '32' '4' '5' '7']

### geo_meanLon

In [32]:
# # Longitude 
key = 'geo_meanLon'
print('%s: '%key)
print(np.unique(['%d'%kk for kk in df[key]]))

geo_meanLon:
['-109' '-114' '-149' '-157' '-159' '-162' '-169' '-174' '-22' '-33' '-60'
 '-61' '-64' '-66' '-67' '-80' '-81' '-82' '-86' '-87' '-88' '-89' '-91'
 '100' '105' '109' '110' '111' '113' '114' '115' '117' '118' '119' '120'
 '122' '123' '124' '130' '134' '142' '143' '144' '145' '146' '147' '148'
 '150' '151' '152' '153' '163' '166' '167' '172' '173' '179' '34' '36'
 '37' '38' '39' '40' '43' '45' '49' '55' '58' '63' '7' '70' '71' '72' '92'
 '96' '98' '99']

### geo_siteName

In [33]:
# Site Name 
key = 'geo_siteName'
print('%s: '%key)
print(df[key].values)

geo_siteName:
['Bunaken Island, Indonesia' 'Rowley Shoals, Australia'
 'Rowley Shoals, Australia'
 'Palmyra Island, United States Minor Outlying Islands'
 'Palmyra Island, United States Minor Outlying Islands'
 'Cayos Cochinos, Honduras' 'Rarotonga, Cook Islands'
 'Palmyra Island, United States Minor Outlying Islands'
 'Dry Tortugas, Florida, USA' 'Looe Key, Florida, USA'
 'Looe Key, Florida, USA' 'Maiana, Republic of Kiribati'
 'Madang Lagoon, Papua New Guinea' 'Ifaty Reef, Madagascar'
 'Ifaty Reef, Madagascar' 'Little Cayman, Cayman Islands'
 'Little Cayman, Cayman Islands' 'Little Cayman, Cayman Islands'
 'Little Cayman, Cayman Islands' 'Houtman Abrolhos Islands, Australia'
 'Ngeralang, Palau' 'Kiritimati (Christmas) Island, Republic of Kiribati'
 'Rarotonga, Cook Islands' 'Rarotonga, Cook Islands'
 'Palmyra Island, United States Minor Outlying Islands'
 'Palmyra Island, United States Minor Outlying Islands'
 'Dry Tortugas, Florida, USA' 'Dry Tortugas, Florida, USA'
 'Mentawai Islands, Indonesia' 'Timor, Indonesia' 'Timor, Indonesia'
 'Kikai Island, Japan'
 'Kiritimati (Christmas) Island, Republic of Kiribati'
 'Mentawai Islands, Indonesia'
 'Cayo Sal, Los Roques Archipelago, Venezuela'
 'Fungu Mrima Reef, Tanzania' 'Looe Key, Florida, USA'
 'Looe Key, Florida, USA' 'Malindi Marine Park, Kenya'
 'Ponta Banana, Principe Island' 'Gili Selang, Bali, Indonesia'
 'Gili Selang, Bali, Indonesia' 'Houtman Abrolhos Islands, Australia'
 'Houtman Abrolhos Islands, Australia'
 'Houtman Abrolhos Islands, Australia'
 'Houtman Abrolhos Islands, Australia' 'Dry Tortugas, Florida, USA'
 'Dry Tortugas, Florida, USA' 'Fungu Mrima Reef, Tanzania'
 'Palmyra Island, United States Minor Outlying Islands'
 'Palmyra Island, United States Minor Outlying Islands'
 'Palmyra Island, United States Minor Outlying Islands'
 'Rodrigues, Republic of Mauritius' 'Ngaragabel, Palau'
 'Pirotan Island, Gujarat, India' 'Portland Roads, Australia'
 'Portland Roads, Australia' 'Coral Gardens, Red Sea'
 'Coral Gardens, Red Sea'
 'Nosy Boraha, Madagascar (formerly Ile Sainte-Marie)'
 'Fengjiawan, Wenchang, China' 'Fengjiawan, Wenchang, China'
 'Fengjiawan, Wenchang, China' 'Fengjiawan, Wenchang, China'
 'Dry Tortugas, Florida, USA' 'Dur-Ghella Island, Eritrea'
 'Rabaul, East New Britain, Papua New Guinea'
 'Rabaul, East New Britain, Papua New Guinea' 'Dry Tortugas, Florida, USA'
 'Ningaloo Reef, Australia' 'Sialum, Huon Peninsula, Papua New Guinea'
 'Eel Reef, Australia' 'Eel Reef, Australia'
 'Nosy Boraha, Madagascar (formerly Ile Sainte-Marie)'
 'Mentawai Islands, Indonesia' 'Canyon, Red Sea' 'Canyon, Red Sea'
 'Tabuaeran (Fanning Island), Republic of Kiribati'
 'Tabuaeran (Fanning Island), Republic of Kiribati' 'Semicolon, Red Sea'
 'Rock Islands, Palau' 'Dry Tortugas, Florida, USA' 'Vanua Levu, Fiji'
 'Vanua Levu, Fiji' 'Rocas Atoll, Rio Grande do Norte, Brazil'
 'Rocas Atoll, Rio Grande do Norte, Brazil' 'Sapodilla Cayes, Belize'
 'Shark Bay, Wolf Island, Ecuador' 'Laing Island, Papua New Guinea'
 'Misima Island, Papua New Guinea' 'Misima Island, Papua New Guinea'
 'Nauru Island, Republic of Nauru' 'Rowley Shoals, Australia'
 'Rowley Shoals, Australia' 'Peros Banhos Atoll, Chagos Archipelago'
 'Tabuaeran (Fanning Island), Republic of Kiribati'
 'Arlington Reef, Australia' 'Arlington Reef, Australia'
 'Palmyra Island, United States Minor Outlying Islands'
 'Anegada, British Virgin Islands' 'Cocos (Keeling) Islands, Australia'
 'Cocos (Keeling) Islands, Australia' 'Nusa Penida, Indonesia'
 'Nusa Penida, Indonesia' 'Pedra de Lume, Sal Island' 'Sarawak, Malaysia'
 'Sarawak, Malaysia' 'Great Keppel Island, Australia'
 'Ulong Channel, Palau' 'Mentawai Islands, Indonesia'
 'Misima Island, Papua New Guinea' 'Misima Island, Papua New Guinea'
 'Isle de Gosier, Guadeloupe' 'Isle de Gosier, Guadeloupe'
 'Isle de Gosier, Guadeloupe' 'Isle de Gosier, Guadeloupe'
 'Hon Tre Island, Vietnam' 'Hon Tre Island, Vietnam'
 'Amedee Island, New Caledonia' 'Bandar Khayran, Oman'
 'Bandar Khayran, Oman' 'Abraham Reef, Australia'
 'Abraham Reef, Australia' 'Grande Cai, Martinique'
 'Rarotonga, Cook Islands' 'Abu Galawa, Red Sea'
 'Lignumvitae Basin, Florida, USA' 'Clarion Island, Mexico'
 'Ningaloo Reef, Australia' 'Ningaloo Reef, Australia'
 'Reef 13-050, Australia' 'Reef 13-050, Australia'
 'Kitchen Shoals, Bermuda' 'Hon Tre Island, Vietnam'
 'Hon Tre Island, Vietnam' 'Doangdoangan Besar, Indonesia'
 "Ta'u, American Samoa" 'Anegada, British Virgin Islands'
 'Urvina Bay, Isabela Island, Ecuador'
 'Urvina Bay, Isabela Island, Ecuador' 'Double Reef, Guam'
 'Ogasawara Islands, Japan' 'Ogasawara Islands, Japan'
 'Ogasawara Islands, Japan' 'Ogasawara Islands, Japan'
 'Nauru Island, Republic of Nauru'
 'Tabuaeran (Fanning Island), Republic of Kiribati'
 'Diamond Caye, Utila, Honduras' 'Pinacles Reef, Puerto Rico'
 'Palmyra Island, United States Minor Outlying Islands'
 'Clerke Reef, Australia' 'Rowley Shoals, Australia'
 'Rowley Shoals, Australia' 'Sarawak, Malaysia' 'Sarawak, Malaysia'
 'Puerto Morelos, Mexico' 'Puerto Morelos, Mexico'
 'Rasdhoo Atoll, Maldives' 'Rasdhoo Atoll, Maldives'
 'Northeast Breakers, Bermuda' 'St. Gilles Reef, La Reunion'
 'St. Gilles Reef, La Reunion' 'Puerto Morelos, Mexico'
 'Palmyra Island, United States Minor Outlying Islands'
 'Rodrigues, Republic of Mauritius' 'Mentawai Islands, Indonesia'
 'Punta Pitt, Isla San Cristobal, Ecuador'
 'Espiritu Santo Island, Vanuatu' 'Espiritu Santo Island, Vanuatu'
 'Mona Island, Puerto Rico' 'Lingyang Reef, Yongle Atoll'
 'Dry Tortugas, Florida, USA' 'Mentawai Islands, Indonesia' 'Red Sea'
 'Savusavu Bay, Vanua Levu, Fiji' 'Savusavu Bay, Vanua Levu, Fiji'
 'Palmyra Island, United States Minor Outlying Islands'
 'Shark Bay, Wolf Island, Ecuador' 'Lingyang Reef, Yongle Atoll'
 'Nomad Reef, Australia' 'Davies Reef, Australia' 'Sabine Bank, Vanuatu'
 'Sabine Bank, Vanuatu' 'Flinders Reef, Australia'
 'Flinders Reef, Australia' 'Lignumvitae Basin, Florida Bay'
 'Muschu Island, Papua New Guinea' 'Tarawa Atoll, Republic of Kiribati'
 'Parguera, Puerto Rico' 'Malindi Marine Park, Kenya'
 'Wolei Atoll, Fed. States of Micronesia'
 'Wolei Atoll, Fed. States of Micronesia' 'Mentawai Islands, Indonesia'
 'Espiritu Santo Island, Vanuatu' 'Longwan, Qionghai, China'
 'Longwan, Qionghai, China' 'Longwan, Qionghai, China'
 'Longwan, Qionghai, China' 'Secas Island, Panama'
 'Rowley Shoals, Australia' 'Rowley Shoals, Australia'
 'Popponesset, Red Sea' 'Mayotte' 'Mayotte'
 'Madang Lagoon, Papua New Guinea'
 'Palmyra Island, United States Minor Outlying Islands'
 'Palaui Island, Philippines' 'Palaui Island, Philippines'
 'Batu Hitam Beach, Indonesia' 'Dry Tortugas, Florida, USA'
 'Kosrae Island, Fed. States of Micronesia'
 'Kosrae Island, Fed. States of Micronesia'
 'Urvina Bay, Isabela Island, Ecuador'
 'Urvina Bay, Isabela Island, Ecuador'
 'Palmyra Island, United States Minor Outlying Islands'
 'Clipperton Island' 'Clipperton Island' 'Tulear Reef, Madagascar'
 'Tulear Reef, Madagascar' 'Mentawai Islands, Indonesia'
 'Clipperton Island' 'Ningaloo Reef, Australia' 'Ningaloo Reef, Australia'
 'Ras Umm Sidd, Egypt' 'Ras Umm Sidd, Egypt' 'Ras Umm Sidd, Egypt'
 'Ras Umm Sidd, Egypt' "Ha'afera, Tonga" "Ha'afera, Tonga"
 "Ha'afera, Tonga" "Ha'afera, Tonga" 'La Parguera, Puerto Rico'
 'La Parguera, Puerto Rico' 'La Parguera, Puerto Rico'
 'La Parguera, Puerto Rico' 'Ifaty Reef, Madagascar'
 'Ifaty Reef, Madagascar' 'Anegada, British Virgin Islands'
 'La Parguera, Puerto Rico' 'La Parguera, Puerto Rico'
 'La Parguera, Puerto Rico' 'La Parguera, Puerto Rico'
 'Mentawai Islands, Indonesia' 'Mentawai Islands, Indonesia'
 'Kiritimati (Christmas) Island, Republic of Kiribati'
 'Kiritimati (Christmas) Island, Republic of Kiribati'
 'Port Blair, Andaman Islands, India'
 'Butaritari Atoll, Republic of Kiribati'
 'Butaritari Atoll, Republic of Kiribati' 'Dry Tortugas, Florida, USA'
 'Dry Tortugas, Florida, USA' 'Savusavu Bay, Vanua Levu, Fiji'
 'Savusavu Bay, Vanua Levu, Fiji' 'Central Great Barrier Reef, Australia'
 'Central Great Barrier Reef, Australia' 'Bermuda' 'Bermuda' 'Bermuda'
 'Bermuda' 'Turneffe Atoll, Belize' 'Savusavu Bay, Vanua Levu, Fiji'
 'Cocos (Keeling) Islands, Australia' 'Cocos (Keeling) Islands, Australia'
 'Dry Tortugas, Florida, USA' 'Dry Tortugas, Florida, USA'
 'Moorea, French Polynesia' 'Padang Bai, Bali, Indonesia'
 'Palmyra Island, United States Minor Outlying Islands'
 'Palmyra Island, United States Minor Outlying Islands'
 'Mahe Island, Republic of the Seychelles' 'Houbihu, Taiwan'
 'Houbihu, Taiwan']

## proxy metadata: archive type, proxy type, interpretation

### archiveType

In [34]:
# now check all the entries bit by bit (can be omitted at a later stage)

# archiveType
key = 'archiveType'
print('%s: '%key)
print(np.unique(df[key]))

archiveType:
['coral']

### paleoData_proxy

In [35]:
# paleoData_proxy
key = 'paleoData_proxy'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))

paleoData_proxy:
['Sr/Ca' 'd18O']

### paleoData_notes

In [36]:
# # paleoData_notes
key = 'paleoData_notes'
print('%s: '%key)
print(df[key].values)

paleoData_notes:
['This paper did not calibrate the d18O proxy or reconstruct temperature. It instead analyzed variability through time by directly using the d18O proxy.'
 'Sr/Ca-SST recconstructed with composite plus scale method to ERSSTv3b, no regression applied'
 'Sr/Ca-SST recconstructed with composite plus scale method to ERSSTv3b, no regression applied'
 'nan' 'nan' 'nan'
 'Individual coral records that are part of the Rarotonga composite' 'nan'
 'nan' 'nan' 'nan' 'nan' 'monthly correlations with SST not reported'
 'Other calibration slopes are available in Zinke et al. 2004; 1920-1995 samples monthly; 1919-1658 sampled bimonthly'
 'Other calibration slopes are available in Zinke et al. 2004; 1920-1995 samples monthly; 1919-1658 sampled bimonthly'
 'nan' 'nan' 'nan' 'nan'
 '1953-1993 and 1961-1993 calibration periods, first with 0.13 slope, latter -0.17 slope'
 'nan' 'nan'
 'Sr/Ca-SST calibrations listed were found in Linsley et al. 2004. The calibration from Linsley et al. 2000 is as follows: slope = -0.082; intercept = 11.568; rsq = 0.75'
 'Sr/Ca-SST calibrations listed were found in Linsley et al. 2004. The calibration from Linsley et al. 2000 is as follows: slope = -0.082; intercept = 11.568; rsq = 0.75'
 'nan' 'nan' 'nan' 'nan' 'Fossil Coral' 'nan' 'nan'
 'Core data is a composite of overlapping individual pieces and any replicate analyses. Data is seasonal min-max (Feb - Aug)'
 'nan' 'Fossil Coral' 'nan'
 'One core, this record: younger part of core MAF00-01 at monthly resolution (1896-1998);  annual correlation based on 1897-1997 data'
 'Due to chipping during initial sampling, the top 1.5 years were sampled in a parallel path and spliced into the rest of the record.'
 'Due to chipping during initial sampling, the top 1.5 years were sampled in a parallel path and spliced into the rest of the record.'
 'monthly correlations not reported, only assesed with IOD; used Cole et al. (2000) slope of -0.24'
 'nan'
 'Sr/Ca-SST calibrations not published because of weak relationship for both GS and NP cores'
 'Sr/Ca-SST calibrations not published because of weak relationship for both GS and NP cores'
 'nan' 'nan' 'nan' 'nan' 'nan' 'nan'
 'One core, this record: older part of core MAF00-01 at bimonthly resolution (1622-1722)'
 'nan' 'nan' 'nan'
 'Totor Sr/Ca core top performed well in many sections, others less good, especially core top since 1988 to 2006. Cabri was much better. There is a table with likely best section in Totor in paper'
 'Multiple linear regression analyses using monthly (non-detrended) anomalies for coral and instrumental SST and SSS data for the period 1970 to 2008. For NGB core, regression equation is: d18O_anom = 0.15 (0.03)*SST + 0.36 (0.07)*SSS.n'
 'slope is not calculated, reported slope from Weber and Woodhead is used of -0.24'
 'nan' 'nan'
 'This record is a combination of high-resolution data from Murty et al. 2018 and annual data from Bryan et al. 2019. Studies are independent but were performed on the same coral core (CG). Calibration information, SST range, and analytical error provided are for high-resolution data from Murty et al. 2018.'
 'This record is a combination of high-resolution data from Murty et al. 2018 and annual data from Bryan et al. 2019. Studies are independent but were performed on the same coral core (CG). Calibration information, SST range, and analytical error provided are for high-resolution data from Murty et al. 2018.'
 'nan' 'nan' 'nan' 'nan' 'nan'
 'Same colony as 08PS-A2, but different core and core top age' 'nan' 'nan'
 'nan' 'Same colony as 08PS-A1, but different core and core top age'
 'used Gagan 1994 d18O slope' 'monthly correlations not reported' 'nan'
 'nan'
 'STM4 Sr/Ca core top was too cold vs STM2, would be careful. STM2 is really good, compares well to Rodrigures core Cabri'
 'Fossil Coral' 'nan' 'nan'
 'Two cores were spliced at 1984 to avoid secondary aragonite'
 'Two cores were spliced at 1984 to avoid secondary aragonite' 'nan'
 'Multiple linear regression analyses using monthly (non-detrended) anomalies for coral and instrumental SST and SSS data for the period 1970 to 2008. For RI core, regression equation is: d18O_anom = 0.03 (0.03)*SST + 0.36 (0.05)*SSS.nn                                        n                                n                        n                n'
 'nan' 'nan' 'nan' 'nan' 'nan' 'nan' 'nan'
 'monthly correlations not reported'
 'Composite of two fossil cores. Data was sub-monthly and was linearly resampled to monthly.'
 'Composite of two fossil cores. Data was sub-monthly and was linearly resampled to monthly.'
 'No calibrations, two cores are part of this study (see GU99NAU01); Oxygen isotope data has NOT been corrected for the acid fractionation difference (acid-alpha) between standards (calcite) and coral samples (aragonite). Slow growing portion of the record (1898-1939) shows a strong kinetic overprint'
 'Sr/Ca-SST recconstructed with composite plus scale method to ERSSTv3b, no regression applied'
 'Sr/Ca-SST recconstructed with composite plus scale method to ERSSTv3b, no regression applied'
 'd18O driven by rainfall; little SST correlation'
 'Publication notes that core F4 has higher variance than contemporary cores and instrumental SST products and that this is likely due to lagoonal mixing.'
 'coral was primariliy analysed for Boron and paper does not discuss much about Sr/Ca and d18O even though they were analysed'
 'coral was primariliy analysed for Boron and paper does not discuss much about Sr/Ca and d18O even though they were analysed'
 'nan' 'nan'
 'Sr/Ca regression slope error is estimated to be (+/-) 0.21 degrees C; Used the Zinke (2015) method - normalised and scaled to the s.d. SST box of the period 1961-1990; equation based on composite of 2 cores'
 'Sr/Ca regression slope error is estimated to be (+/-) 0.21 degrees C; Used the Zinke (2015) method - normalised and scaled to the s.d. SST box of the period 1961-1990; equation based on composite of 2 cores'
 'NP1 and NP2 cores spliced together to get full NP record due to bioerosion in the NP1 core. Sr/Ca-SST calibrations not published because of weak relationship for both GS and NP cores.'
 'NP1 and NP2 cores spliced together to get full NP record due to bioerosion in the NP1 core. Sr/Ca-SST calibrations not published because of weak relationship for both GS and NP cores.'
 'nan' 'nan' 'nan'
 'Study focuses on Ba/Ca and Y/Ca. Sr/Ca is primarily used for chronology'
 'Multiple linear regression analyses using monthly (not detrended) anomalies for coral and instrumental SST and SSS data for the period 1970 to 2008. For UC core, regression equation is: d18O_anom = 0.09 (0.03)*SST + 0.33 (0.05)*SSS'
 'Fossil Coral'
 'Raw data was sub-monthly and was linearly resampled to monthly.'
 'Raw data was sub-monthly and was linearly resampled to monthly.'
 'This calibration data is taken from the top 40 years of the core from Hetzinger et al 2006'
 'This calibration data is taken from the top 40 years of the core from Hetzinger et al 2006'
 'This calibration data is taken from the top 40 years of the core from Hetzinger et al 2006'
 'This calibration data is taken from the top 40 years of the core from Hetzinger et al 2006'
 'A composite of cores TN and BB (CoralHydro2k ID BO14HTI02) was used from 2010-1977 for the published reconstructions in Bolton et al. 2014 and Goodkin et al. 2021.'
 'A composite of cores TN and BB (CoralHydro2k ID BO14HTI02) was used from 2010-1977 for the published reconstructions in Bolton et al. 2014 and Goodkin et al. 2021.'
 'Sr/Ca are average values of three colonies and replicate paths' 'nan'
 'nan'
 'This is a refinement of the record available previously (Druffel and Griffin, JGR 1993) which showed biennial d18O for the period 1635-1957.'
 'This is a refinement of the record available previously (Druffel and Griffin, JGR 1993) which showed biennial d18O for the period 1635-1957.'
 'Study focuses on use of Sr/U rather than Sr/Ca'
 'Individual coral records that are part of the Rarotonga composite'
 'Mean SST ranges given in paper for northern reef 7.7C; for southern reefs 5.8C'
 'nan' 'nan'
 'Sr/Ca-SST recconstructed with composite plus scale method to ERSSTv3b, no regression applied'
 'Sr/Ca-SST recconstructed with composite plus scale method to ERSSTv3b, no regression applied'
 'nan' 'nan'
 'regressions in paper use air temps instead of SST, relevant growth information about coral found in PhD thesis (http://nbn-resolving.de/urn:nbn:de:gbv:46-ep000102521)'
 'A composite of cores TN (CoralHydro2k ID BO14HTI01) and BB was used from 2010-1977 for the published reconstructions in Bolton et al. 2014 and Goodkin et al. 2021.'
 'A composite of cores TN (CoralHydro2k ID BO14HTI01) and BB was used from 2010-1977 for the published reconstructions in Bolton et al. 2014 and Goodkin et al. 2021.'
 'Calibrations to SST data were performed on a shorter, higher-resolution set of samples. See Murty et al. 2017 for more information.'
 'The calibration equation incorporated both SST and salinity, so the d18O-SST slope is not included here to avoid misrepresentation.'
 'nan' 'nan' 'nan' 'nan'
 'Annual regression slopes (-0.213 / C, -0.140 mmol/mol / C) imply an apparent amplification of inferred SST variations on interannual and longer timescales.'
 'Annual regression slopes (-0.213 / C, -0.140 mmol/mol / C) imply an apparent amplification of inferred SST variations on interannual and longer timescales.'
 'Annual regression slopes (-0.213 / C, -0.140 mmol/mol / C) imply an apparent amplification of inferred SST variations on interannual and longer timescales.'
 'Annual regression slopes (-0.213 / C, -0.140 mmol/mol / C) imply an apparent amplification of inferred SST variations on interannual and longer timescales.'
 'Oxygen isotope data has NOT been corrected for the acid fractionation difference (acid-alpha) between standards (calcite) and coral samples (aragonite). Prior to 1895/1896 the data exhibits a kinetic overprint.'
 'nan' 'nan' 'Study focuses on use of Sr/U rather than Sr/Ca' 'nan' 'nan'
 'Sr/Ca-SST recconstructed with composite plus scale method to ERSSTv3b, no regression applied'
 'Sr/Ca-SST recconstructed with composite plus scale method to ERSSTv3b, no regression applied'
 'nan' 'nan' 'focused more on Sr/U calibrations'
 'focused more on Sr/U calibrations' 'nan' 'nan'
 'regressions in paper use air temps instead of SST, relevant growth information about coral found in PhD thesis (http://nbn-resolving.de/urn:nbn:de:gbv:46-ep000102521)'
 'See Pfeiffer et al. 2004 for more monthly/bimonthly d18O calibrations and Pfeiffer et al. 2019 for annual d18O and Sr/Ca calibrations.'
 'See Pfeiffer et al. 2004 for more monthly/bimonthly d18O calibrations and Pfeiffer et al. 2019 for annual d18O and Sr/Ca calibrations.'
 'Study focuses on use of Sr/U rather than Sr/Ca' 'nan' 'nan'
 'Fossil Coral'
 'age-modeled assuming high-density bands correspond to February; coral colony died during 1982-83 El Nino event'
 'regression information based on Kilbourne MS Thesis'
 'regression information based on Kilbourne MS Thesis'
 'Study focuses on use of Sr/U rather than Sr/Ca'
 'Microatoll; coral rubble samples; data reported in Supplements of paper'
 'nan' 'Fossil Coral'
 'Study focuses on use of Sr/U rather than Sr/Ca; multiple locations Atlantic and Pacific; Sr/Ca uncertainty 1 deg C; Sr-U uncertainty 0.5 deg C; Sr/Ca-SST slope not indicated'
 'nan' 'nan' 'nan' 'nan'
 'Microatoll; coral rubble samples; data reported in Supplements of paper'
 'nan'
 'Study uses multiple cores from multiple locations in the Great Barrier Reef; spans 15-18S latitude; multiple Sr/Ca regression equations in the paper. Supplemnet has all data.'
 'd18O is a composite of cores 06SB-A1 and 07SB-A2'
 'd18O is a composite of cores 06SB-A1 and 07SB-A2' 'nan' 'nan' 'nan'
 'nan' 'monthly correlations not reported' 'nan'
 'Extra information supplied that is not included in publication such as higher precision slope value. Noted as exposed to open ocean; seasonally influenced by river discharge'
 'uncertainty on Sr/Ca intercept is 0.0018'
 'uncertainty on Sr/Ca intercept is 0.0018'
 'Note: Length of coral record increased for Abram et al., 2020 publication relative to Abram et al., 2015'
 'nan' 'nan' 'nan' 'nan' 'nan' 'nan'
 'Sr/Ca-SST recconstructed with composite plus scale method to ERSSTv3b, no regression applied'
 'Sr/Ca-SST recconstructed with composite plus scale method to ERSSTv3b, no regression applied'
 'Mean SST ranges given in paper for northern reef 7.7C; for southern reefs 5.8C'
 'in situ d18o; for annual (sr/Ca, slope- -0.0583, intercept - 10.378)'
 'in situ d18o; for annual (sr/Ca, slope- -0.0583, intercept - 10.378)'
 'monthly correlations not reimported' 'nan'
 'Sr/Ca calibration equation originally found in Ramos et al. 2017; Monthly Sr/Ca data available from 1880-2012; Monthly and seasonal (DJFM vs JJAS, data input on Jan and July) d18O data available from 1894-2012 and 1880-1893, respectively.'
 'Sr/Ca calibration equation originally found in Ramos et al. 2017; Monthly Sr/Ca data available from 1880-2012; Monthly and seasonal (DJFM vs JJAS, data input on Jan and July) d18O data available from 1894-2012 and 1880-1893, respectively.'
 'monthly correlations not reported, instead used IOD season' 'nan' 'nan'
 'nan'
 'Core was collected in a subhorizontal, not vertical, orientation from coral colony; indistinct growth banding in top 50 years of core'
 'Core was collected in a subhorizontal, not vertical, orientation from coral colony; indistinct growth banding in top 50 years of core'
 'nan'
 'Composite of cores C2B (13.1m depth), C4B (8.2m), C6A (11.3m), and CF1B (found on beach); reconstructed d18Osw data are anomalies'
 'Composite of cores C2B (13.1m depth), C4B (8.2m), C6A (11.3m), and CF1B (found on beach); reconstructed d18Osw data are anomalies'
 'Published slopes based on composite coral results. Used -0.20.02 permil per 1 deg C regressions'
 'Published slopes based on composite coral results. Used -0.20.02 permil per 1 deg C regressions'
 'Note: Chronology of coral updated for Abram et al., 2020 publication relative to Gagan et al., 2015'
 'authors describe density banding as poor; some fish grazing scars'
 'Sr/Ca-SST recconstructed with composite plus scale method to ERSST3b, no regression applied'
 'Sr/Ca-SST recconstructed with composite plus scale method to ERSST3b, no regression applied'
 'Annual regression slopes (-0.29 / C, -0.115 mmol/mol / C) imply an apparent amplification of inferred SST variations on interannual and longer timescales.'
 'Annual regression slopes (-0.29 / C, -0.115 mmol/mol / C) imply an apparent amplification of inferred SST variations on interannual and longer timescales.'
 'Annual regression slopes (-0.29 / C, -0.115 mmol/mol / C) imply an apparent amplification of inferred SST variations on interannual and longer timescales.'
 'Annual regression slopes (-0.29 / C, -0.115 mmol/mol / C) imply an apparent amplification of inferred SST variations on interannual and longer timescales.'
 'Microatoll with core taken from top and side and spliced together; As with all coral timeseries, exact months are not known, so annual averages sometimes represent more or less than 12 months.'
 'Microatoll with core taken from top and side and spliced together; As with all coral timeseries, exact months are not known, so annual averages sometimes represent more or less than 12 months.'
 'Microatoll with core taken from top and side and spliced together; As with all coral timeseries, exact months are not known, so annual averages sometimes represent more or less than 12 months.'
 'Microatoll with core taken from top and side and spliced together; As with all coral timeseries, exact months are not known, so annual averages sometimes represent more or less than 12 months.'
 'This is the bottom part of a core that included an unconformity. Base of the coral is u-series dated and age model is from bands counted up from there.'
 'This is the bottom part of a core that included an unconformity. Base of the coral is u-series dated and age model is from bands counted up from there.'
 'This is the bottom part of a core that included an unconformity. Base of the coral is u-series dated and age model is from bands counted up from there.'
 'This is the bottom part of a core that included an unconformity. Base of the coral is u-series dated and age model is from bands counted up from there.'
 'Published slopes based on composite coral results. Used -0.20.02 permil per 1 deg C regressions'
 'Published slopes based on composite coral results. Used -0.20.02 permil per 1 deg C regressions'
 'nan' 'nan' 'nan' 'nan' 'nan' 'Fossil Coral'
 'Composite of three cores: PG01-A-2, TN99-A-4, TM01-A-10.' 'nan' 'nan'
 'slope and y-intercept information only available for mean annual calibrations'
 'used published values (i.e., not locally derived) for Sr/Ca-SST and d18O-SST slopes'
 'used published values (i.e., not locally derived) for Sr/Ca-SST and d18O-SST slopes'
 'nan' 'nan' 'nan' 'nan'
 'The record is a composite of 8 cores across the GBR region; Error is provided in upper and lower bounds; data as anomalies only'
 'The record is a composite of 8 cores across the GBR region; Error is provided in upper and lower bounds; data as anomalies only'
 'See Goodkin et al 2005 for interannual Sr/Ca calibration'
 'See Goodkin et al 2005 for interannual Sr/Ca calibration'
 'See Goodkin et al 2005 for interannual Sr/Ca calibration'
 'See Goodkin et al 2005 for interannual Sr/Ca calibration' 'nan'
 'mm-scale drilling but available data is at annual resolution'
 'Sr/Ca regression slope error is estimated to be (+/-) 0.21 degrees C; Used the Zinke (2015) method - normalised and scaled to the s.d. SST box of the period 1961-1990; equation based on composite of 2 cores'
 'Sr/Ca regression slope error is estimated to be (+/-) 0.21 degrees C; Used the Zinke (2015) method - normalised and scaled to the s.d. SST box of the period 1961-1990; equation based on composite of 2 cores'
 'nan' 'nan'
 '7 calibration equations are available in Boiseau et al. 1998 (this database contains Equation (1) information)'
 'This paper did not calibrate the d18O proxy or reconstruct temperature. It instead analyzed variability through time by directly using the d18O proxy.'
 'nan' 'nan' 'nan'
 'Monthly Sr/Ca data available from 1788-2013; Monthly and seasonal (DJFM vs JJAS, data input on Jan and July) d18O data available from 1906-2013 and 1788-1905 respectively.'
 'Monthly Sr/Ca data available from 1788-2013; Monthly and seasonal (DJFM vs JJAS, data input on Jan and July) d18O data available from 1906-2013 and 1788-1905 respectively.']

### climateInterpretation_variable

In [37]:
# climate_interpretation
key = 'climateInterpretation_variable'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))

climateInterpretation_variable:
['temperature' 'temperature+moisture']

### climateInterpretation_variableDetail

In [38]:
# climate_interpretation
key = 'climateInterpretation_variableDetail'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))

climateInterpretation_variableDetail:
['temperature - manually assigned by DoD2k authors for paleoData_proxy = Sr/Ca'
 'temperature+moisture - manually assigned by DoD2k authors for paleoData_proxy = d18O']

### paleoData_sensorSpecies

In [39]:
# climate_interpretation
key = 'paleoData_sensorSpecies'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))

paleoData_sensorSpecies:
['Diploastrea heliopora' 'Diploria labyrinthiformis' 'Favia speciosa'
 'Orbicella faveolata' 'Pavona clavus' 'Pavona gigantea'
 'Platygyra lamellina' 'Porites australiensis' 'Porites lobata'
 'Porites lutea' 'Porites solida' 'Porites sp.' 'Pseudodiploria strigosa'
 'Siderastrea radians' 'Siderastrea siderea' 'Siderastrea sp.'
 'Siderastrea stellata' 'Solenastrea bournoni']

## data

### paleoData_units

In [40]:
# paleoData_units
key = 'paleoData_units'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))

paleoData_units:
['mmol/mol' 'permil']

### paleoData_values

In [41]:
# # paleoData_values
key = 'paleoData_values'

print('%s: '%key)
for ii, vv in enumerate(df[key][:20]):
    try: 
        print('%-30s: %s -- %s'%(df['dataSetName'].iloc[ii][:30], str(np.nanmin(vv)), str(np.nanmax(vv))))
        print(type(vv))
    except: print(df['dataSetName'].iloc[ii], 'NaNs detected.')

paleoData_values:
CH03BUN01                     : -5.757999897003174 -- -4.651800155639648
<class 'numpy.ndarray'>
ZI15MER01                     : 8.801589965820312 -- 9.006901741027832
<class 'numpy.ndarray'>
ZI15MER01                     : 8.801589965820312 -- 9.006901741027832
<class 'numpy.ndarray'>
CO03PAL03                     : -5.380000114440918 -- -4.110000133514404
<class 'numpy.ndarray'>
CO03PAL02                     : -5.295000076293945 -- -4.3379998207092285
<class 'numpy.ndarray'>
CA13PEL01                     : -4.789000034332275 -- -3.4670000076293945
<class 'numpy.ndarray'>
LI06RAR01                     : -5.130000114440918 -- -3.819999933242798
<class 'numpy.ndarray'>
CO03PAL07                     : -5.510000228881836 -- -4.440000057220459
<class 'numpy.ndarray'>
FL18DTO03                     : 8.890999794006348 -- 9.47599983215332
<class 'numpy.ndarray'>
SM06LKF02                     : -4.730000019073486 -- -3.0
<class 'numpy.ndarray'>
SM06LKF02                     : 9.003999710083008 -- 9.470999717712402
<class 'numpy.ndarray'>
UR00MAI01                     : -5.3044328689575195 -- -3.7523419857025146
<class 'numpy.ndarray'>
TU95MAD01                     : -5.894999980926514 -- -4.578000068664551
<class 'numpy.ndarray'>
ZI04IFR01                     : -5.429999828338623 -- -3.4100000858306885
<class 'numpy.ndarray'>
ZI04IFR01                     : 8.724008560180664 -- 9.47011947631836
<class 'numpy.ndarray'>
RE18CAY01                     : -4.811999797821045 -- -3.628999948501587
<class 'numpy.ndarray'>
RE18CAY01                     : 8.807000160217285 -- 9.100000381469727
<class 'numpy.ndarray'>
RE18CAY01                     : 8.86299991607666 -- 9.043000221252441
<class 'numpy.ndarray'>
RE18CAY01                     : -4.577000141143799 -- -3.9149999618530273
<class 'numpy.ndarray'>
KU99HOU01                     : -4.699999809265137 -- -3.0399999618530273
<class 'numpy.ndarray'>

### year

In [42]:
# # year
key = 'year'
print('%s: '%key)
for ii, vv in enumerate(df[key][:20]):
    try: print('%-30s: %s -- %s'%(df['dataSetName'].iloc[ii][:30], str(np.nanmin(vv)), str(np.nanmax(vv))))
    except: print('NaNs detected.', vv)

year:
CH03BUN01                     : 1860.0 -- 1990.5799560546875
ZI15MER01                     : 1891.0 -- 2009.0
ZI15MER01                     : 1891.0 -- 2009.0
CO03PAL03                     : 1317.1700439453125 -- 1406.489990234375
CO03PAL02                     : 1149.0799560546875 -- 1220.2049560546875
CA13PEL01                     : 1922.0899658203125 -- 2006.469970703125
LI06RAR01                     : 1906.8800048828125 -- 1999.75
CO03PAL07                     : 1635.02001953125 -- 1666.47998046875
FL18DTO03                     : 1997.64599609375 -- 2012.2080078125
SM06LKF02                     : 1960.969970703125 -- 2002.6300048828125
SM06LKF02                     : 1960.969970703125 -- 2002.6300048828125
UR00MAI01                     : 1840.0 -- 1994.5
TU95MAD01                     : 1922.5419921875 -- 1991.2919921875
ZI04IFR01                     : 1659.625 -- 1995.625
ZI04IFR01                     : 1688.625 -- 1995.625
RE18CAY01                     : 1887.0400390625 -- 2012.5400390625
RE18CAY01                     : 1887.0400390625 -- 2012.5400390625
RE18CAY01                     : 1887.0 -- 2011.0
RE18CAY01                     : 1887.0 -- 2011.0
KU99HOU01                     : 1794.7099609375 -- 1994.3800048828125

### yearUnits

In [43]:
# yearUnits
key = 'yearUnits'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))

yearUnits:
['CE']