# Merge original databases into a common dataframe, ready for duplicate detection.

Created on Mon Jul  3 12:53:15 2023

Author: Lucie Luecke

Update 06/11/2025 by LL: Tidied up and commented code for documentation tutorial.

Create a common database from multiple standardised databases, based on the *load notebooks*:
 - PAGES2k (load_pages2k.ipynb)
 - FE23 (Breitenmoser 14) (load_fe23.ipynb)
 - SISAL v3 (load_sisal.ipynb)
 - CH2k (load_ch2k.ipynb)
 - Iso2k (load_iso2k.ipynb)

This database is subject to duplicates, so please run the duplicate detection files on the output.

The dataframe has the data:

  - ```archiveType```
  - ```dataSetName```
  - ```datasetId```
  - ```geo_meanElev```
  - ```geo_meanLat```
  - ```geo_meanLon```
  - ```geo_siteName```
  - ```interpretation_direction``` (new in v2.0)
  - ```interpretation_variable```
  - ```interpretation_variableDetail```
  - ```interpretation_seasonality``` (new in v2.0)
  - ```originalDataURL```
  - ```originalDatabase```
  - ```paleoData_notes```
  - ```paleoData_proxy```
  - ```paleoData_sensorSpecies```
  - ```paleoData_units```
  - ```paleoData_values```
  - ```paleoData_variableName```
  - ```year```
  - ```yearUnits```

## Set up working environment

Make sure the repo_root is added correctly, it should be: your_root_dir/dod2k
This should be the working directory throughout this notebook (and all other notebooks).

In [1]:
%load_ext autoreload
%autoreload 2

import sys
import os
from pathlib import Path

# Add parent directory to path (works from any notebook in notebooks/)
# the repo_root should be the parent directory of the notebooks folder
init_dir = Path().resolve()
# Determine repo root
if init_dir.name == 'dod2k': repo_root = init_dir
elif init_dir.parent.name == 'dod2k': repo_root = init_dir.parent
else: raise Exception('Please review the repo root structure (see first cell).')

# Update cwd and path only if needed
if os.getcwd() != str(repo_root):
    os.chdir(repo_root)
if str(repo_root) not in sys.path:
    sys.path.insert(0, str(repo_root))

print(f"Repo root: {repo_root}")
if str(os.getcwd())==str(repo_root):
    print(f"Working directory matches repo root. ")

Repo root: /home/jupyter-lluecke/dod2k_v2.0/dod2k
Working directory matches repo root.

In [2]:
# Import packages
import pandas as pd
import numpy as np

from dod2k_utilities import ut_functions as utf # contains utility functions
from dod2k_utilities import ut_plot as uplt # contains plotting functions

## Load compact dataframes

Define which datasets should be loaded:

In [3]:
dataset_names = ['pages2k', 'fe23', 'ch2k', 'iso2k', 'sisal' ]

Now load the dataframes and merge:

In [4]:
# read compact dataframes from all the single databases

print(dataset_names[0])
df = utf.load_compact_dataframe_from_csv(dataset_names[0])
print('length: ', len(df))

for ii, dn in enumerate(dataset_names[1:]):
    print(f'add {dn}')
    new_df = utf.load_compact_dataframe_from_csv(dn)
    df = pd.concat([df, new_df])
    print('length: ', len(df))

print('---------------')
print('RESULT:')
df.index = range(len(df))
print(df.info())

pages2k
length:  1364
add fe23
length:  4118
add ch2k
length:  4339
add iso2k
length:  4774
add sisal
length:  5320
---------------
RESULT:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5320 entries, 0 to 5319
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   archiveType                    5320 non-null   object
 1   dataSetName                    5320 non-null   object
 2   datasetId                      5320 non-null   object
 3   geo_meanElev                   5221 non-null   float32
 4   geo_meanLat                    5320 non-null   float32
 5   geo_meanLon                    5320 non-null   float32
 6   geo_siteName                   5320 non-null   object
 7   interpretation_direction       5320 non-null   object
 8   interpretation_seasonality     5320 non-null   object
 9   interpretation_variable        5320 non-null   object
 10  interpretation_variableDetail  5320 non-null   object
 11  originalDataURL                5320 non-null   object
 12  originalDatabase               5320 non-null   object
 13  paleoData_notes                5320 non-null   object
 14  paleoData_proxy                5320 non-null   object
 15  paleoData_sensorSpecies        5320 non-null   object
 16  paleoData_units                5320 non-null   object
 17  paleoData_values               5320 non-null   object
 18  paleoData_variableName         5320 non-null   object
 19  year                           5320 non-null   object
 20  yearUnits                      5320 non-null   object
dtypes: float32(3), object(18)
memory usage: 810.6+ KB
None

## change metadata

### OriginalDataURL

1. when writing OriginalDataURL, convert any ftp://ftp.ncdc to https://ncei :  e.g.

URL 1: ftp://ftp.ncdc.noaa.gov/pub/data/paleo/contributions_by_author/keigwin2005 

write to 
URL 1: https://ncei.noaa.gov/pub/data/paleo/contributions_by_author/keigwin2005

In [8]:
for ii in df[[df['originalDataURL'].iloc[ii].startswith('ftp://ftp.ncdc') for ii in df.index]].index:
    print('before: ', df['originalDataURL'].iloc[ii])
    df.at[ii, 'originalDataURL'] = df.at[ii, 'originalDataURL'].replace('ftp://ftp.ncdc', 'https://ncei')
    print('after: ', df['originalDataURL'].iloc[ii])

before:  ftp://ftp.ncdc.noaa.gov/pub/data/paleo/paleolimnology/northamerica/canada/baffin/big-round2008.txt
after:  https://ncei.noaa.gov/pub/data/paleo/paleolimnology/northamerica/canada/baffin/big-round2008.txt

In [5]:
raise Exception

Exception:



2. When writing OriginalDataURLs like this one:

https://www.ncdc.noaa.gov/cdo/f?p=519:1:784943880673501::::P1_STUDY_ID:10492  

rewrite to a URL that is valid, e.g. 

https://www.ncei.noaa.gov/access/paleo-search/study/10492

In [11]:
for ii in df[[df['originalDataURL'].iloc[ii].startswith('https://www.ncdc.noaa.gov/cdo') for ii in df.index]].index:
    print('before: ', df['originalDataURL'].iloc[ii])
    study_id=df.at[ii, 'originalDataURL'].split('STUDY_ID:')[-1]
    print('study_ID: ', study_id)
    df.at[ii, 'originalDataURL'] = f'https://www.ncei.noaa.gov/access/paleo-search/study/{study_id}'
    print('after: ', df['originalDataURL'].iloc[ii])

before:  https://www.ncdc.noaa.gov/cdo/f?p=519:1:::::P1_STUDY_ID:5472
study_ID:  5472
after:  https://www.ncei.noaa.gov/access/paleo-search/study/5472
before:  https://www.ncdc.noaa.gov/cdo/f?p=519:1:0::::P1_STUDY_ID:13174
study_ID:  13174
after:  https://www.ncei.noaa.gov/access/paleo-search/study/13174
before:  https://www.ncdc.noaa.gov/cdo/f?p=519:1:::::P1_STUDY_ID:8647
study_ID:  8647
after:  https://www.ncei.noaa.gov/access/paleo-search/study/8647
before:  https://www.ncdc.noaa.gov/cdo/f?p=519:1:0::::P1_STUDY_ID:13174
study_ID:  13174
after:  https://www.ncei.noaa.gov/access/paleo-search/study/13174

## save merged dataframe

### save pickle

In [ ]:
db_name='all_merged'
df.name=db_name
os.makedirs(f'data/{db_name}/', exist_ok=True)

In [ ]:
# save concatenate dataframe as db_merged
df.to_pickle(f'data/{db_name}/{db_name}_compact.pkl')

In [ ]:
print(df.info())

### save csv

In [ ]:
# save to a list of csv files (metadata, data, year)
utf.write_compact_dataframe_to_csv(df)

In [ ]:
# load dataframe
print(utf.load_compact_dataframe_from_csv(db_name).info())
print(df.info())

## Visualise dataframe

Show spatial distribution of records, show archive and proxy types

In [ ]:
# count archive types
archive_count = {}
for ii, at in enumerate(set(df['archiveType'])):
    archive_count[at] = df.loc[df['archiveType']==at, 'archiveType'].count()

sort = np.argsort([cc for cc in archive_count.values()])
archives_sorted = np.array([cc for cc in archive_count.keys()])[sort][::-1]

# Specify colour for each archive (smaller archives get grouped into the same colour)
archive_colour, major_archives, other_archives = uplt.get_archive_colours(archives_sorted, archive_count)

fig = uplt.plot_geo_archive_proxy(df, archive_colour)

Now plot the coverage over the Common Era

In [ ]:
fig = uplt.plot_coverage(df, archives_sorted, major_archives, other_archives, archive_colour)

## Display dataframe

### Display identification metadata: dataSetName, datasetId, originalDataURL, originalDatabase

#### index

In [ ]:
# # check index
print(df.index)

#### dataSetName (associated with each record, may not be unique)

In [ ]:
# # check dataSetName
key = 'dataSetName'
print('%s: '%key)
print(df[key].values)
print(np.unique([str(type(dd)) for dd in df[key]]))

#### datasetId (unique identifier, as given by original authors, includes original database token)

In [ ]:
# # check datasetId

print(len(df.datasetId.unique()))
print(len(df))
key = 'datasetId'
print('%s (starts with): '%key)
print(df[key].values)
print(np.unique([str(type(dd)) for dd in df[key]]))
print('datasetId starts with: ', np.unique([str(dd.split('_')[0]) for dd in df[key]]))

#### originalDataURL (URL/DOI of original published record where available)

In [ ]:
# originalDataURL
key = 'originalDataURL'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))
print(np.unique([kk for kk in df[key] if 'this' in kk]))
print(np.unique([str(type(dd)) for dd in df[key]]))
# 'this study' should point to the correct URL (PAGES2k)

#### originalDatabase (original database used as input for dataframe)

In [ ]:
# # originalDataSet
key = 'originalDatabase'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))
print(np.unique([str(type(dd)) for dd in df[key]]))
# Note: the last two records have missing URLs

### geographical metadata: elevation, latitude, longitude, site name

#### geo_meanElev (mean elevation in m)

In [ ]:
# check Elevation
key = 'geo_meanElev'
print('%s: '%key)
print(df[key])
print(np.unique(['%d'%kk for kk in df[key] if np.isfinite(kk)]))
print(np.unique([str(type(dd)) for dd in df[key]]))

#### geo_meanLat (mean latitude in degrees N)

In [ ]:
# # Latitude
key = 'geo_meanLat'
print('%s: '%key)
print(np.unique(['%d'%kk for kk in df[key]]))
print(np.unique([str(type(dd)) for dd in df[key]]))

### geo_meanLon (mean longitude)

In [ ]:
# # Longitude 
key = 'geo_meanLon'
print('%s: '%key)
print(np.unique(['%d'%kk for kk in df[key]]))
print(np.unique([str(type(dd)) for dd in df[key]]))

#### geo_siteName (name of collection site)

In [ ]:
# Site Name 
key = 'geo_siteName'
print('%s: '%key)
print(df[key].values)
print(np.unique([str(type(dd)) for dd in df[key]]))

### proxy metadata: archive type, proxy type, interpretation

#### archiveType (archive type)

In [ ]:
# archiveType
key = 'archiveType'
print('%s: '%key)
print(np.unique(df[key]))
print(np.unique([str(type(dd)) for dd in df[key]]))

#### paleoData_proxy (proxy type)

In [ ]:
# paleoData_proxy
key = 'paleoData_proxy'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))
print(np.unique([str(type(dd)) for dd in df[key]]))

#### paleoData_sensorSpecies (further information on proxy type: species)

In [ ]:
# climate_interpretation
key = 'paleoData_sensorSpecies'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))
print(np.unique([str(type(dd)) for dd in df[key]]))

#### paleoData_notes (notes)

In [ ]:
# # paleoData_notes
key = 'paleoData_notes'
print('%s: '%key)
print(df[key].values)
print(np.unique([str(type(dd)) for dd in df[key]]))

#### paleoData_variableName

In [ ]:
# paleoData_variableName
key = 'paleoData_variableName'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))
print(np.unique([str(type(dd)) for dd in df[key]]))

### climate metadata: interpretation variable, direction, seasonality

#### interpretation_direction

In [ ]:
# climate_interpretation
key = 'interpretation_direction'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))
print(f'No. of unique values: {len(np.unique(df[key]))}/{len(df)}')

#### interpretation_seasonality

In [ ]:
# climate_interpretation
key = 'interpretation_seasonality'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))
print(f'No. of unique values: {len(np.unique(df[key]))}/{len(df)}')

#### interpretation_variable

In [ ]:
# climate_interpretation
key = 'interpretation_variable'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))
print(f'No. of unique values: {len(np.unique(df[key]))}/{len(df)}')

#### interpretation_variableDetail

In [ ]:
# climate_interpretation
key = 'interpretation_variableDetail'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))
print(f'No. of unique values: {len(np.unique(df[key]))}/{len(df)}')

### data

#### paleoData_values

In [ ]:
# # paleoData_values
key = 'paleoData_values'

print('%s: '%key)
for ii, vv in enumerate(df[key][:20]):
    try: 
        print('%-30s: %s -- %s'%(df['dataSetName'].iloc[ii][:30], str(np.nanmin(vv)), str(np.nanmax(vv))))
        print(type(vv))
    except: print(df['dataSetName'].iloc[ii], 'NaNs detected.')
print(np.unique([str(type(dd)) for dd in df[key]]))

#### paleoData_units

In [ ]:
# paleoData_units
key = 'paleoData_units'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))
print(np.unique([str(type(dd)) for dd in df[key]]))

#### year

In [ ]:
# # year
key = 'year'
print('%s: '%key)
for ii, vv in enumerate(df[key][:20]):
    try: print('%-30s: %s -- %s'%(df['dataSetName'].iloc[ii][:30], str(np.nanmin(vv)), str(np.nanmax(vv))))
    except: print('NaNs detected.', vv)
print(np.unique([str(type(dd)) for dd in df[key]]))

#### yearUnits

In [ ]:
# yearUnits
key = 'yearUnits'
print('%s: '%key)
print(np.unique([kk for kk in df[key]]))
print(np.unique([str(type(dd)) for dd in df[key]]))